@import "../../../styles/variables";
@import "../../../styles/spacing";

@mixin text-common {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

//Text size
.heading-1 {
  @include text-common;
  font-weight: 700;
  font-size: 6.5rem;
}

.heading-2 {
  @include text-common;
  font-weight: 700;
  font-size: 5rem;
}

.title-1 {
  @include text-common;
  font-weight: 700;
  font-size: 4.5rem;
}

.title-2 {
  @include text-common;
  font-weight: 700;
  font-size: 4rem;
}

.title-3 {
  @include text-common;
  font-weight: 700;
  font-size: 3.5rem;
}

.title-4 {
  @include text-common;
  font-weight: 700;
  font-size: 3rem;
}

.body-1 {
  @include text-common;
  font-size: 2.8rem;
}

.body-2 {
  @include text-common;
  font-size: 2.5rem;
}

.body-3 {
  @include text-common;
  font-size: 2.3rem;
}

.body-4 {
  @include text-common;
  font-size: 2rem;
}

.body-5 {
  @include text-common;
  font-size: 1.9rem;
}

.body-6 {
  @include text-common;
  font-size: 1.8rem;
}

.body-7 {
  @include text-common;
  font-size: 1.5rem;
}

.body-8 {
  @include text-common;
  font-size: 1.4rem;
}

.body-9 {
  @include text-common;
  font-size: 1.3rem;
}

// Text colors

.os-blue-color {
  color: $os_blue;
}

.indigo-color {
  color: $indigo_2;
}

.indigo-3 {
  color: $indigo_3;
}
.indigo-4 {
   color: $indigo_4;
 }

.black-2 {
  color: $black_2;
}

.blue-2 {
  color: $blue_2;
}

.candy-2 {
  color: $candy_2;
}

.headline_indigo {
  color: $headline_indigo;
}

.secondary-brand-merigold {
  color: $secondary_brand_merigold;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}

//Text Alignment
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

//font-weights

.w-300 {
  font-weight: 300;
}

.w-500 {
  font-weight: 500;
}

.w-700 {
  font-weight: 700;
}
