@import "../../../styles/variables";
@import "../../../styles/mixins";

.store-preview-form {
  width: 53rem;
  height: auto;
  padding: 4rem 6.3rem 6.6rem 6.3rem;
  filter: drop-shadow(0 0 3rem rgba($black, 0.2));
  background-color: $white;
  @include respond(tab-land) {
    width: 44.4rem;
    padding: 4.5rem 5.1rem;
  }
  @include respond(phone) {
    filter: none;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    margin: auto;
  }

  .form-wrapper--title {
    //text-align: center;
    //font-size: 1.5rem;
  }

  .input-wrapper {
    .input-field {
      margin-bottom: 0.6rem;
      @include respond(phone) {
        label {
          font-size: 1.1rem;
        }
      }
    }
  }

  .form-wrapper--btn {
    margin-top: 1.3rem;

    button {
      width: 100%;
    }

    @include respond(tab-land) {
      button {
        height: 4.5rem;
        font-size: 1.5rem;
      }
    }
    @include respond(phone) {
      margin-top: 1.5rem;
      button {
        width: 100%;
        height: 4.8rem;
        font-size: 1.2rem;
      }
    }
  }
}
