@import "../../../styles/variables";

.os-btn {
  border: none;
  box-shadow: none;
  width: 16.6rem;
  height: 4.9rem;
  border-radius: 0.5rem;
  background-color: #2f47ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }

  &.icon--btn {
    .btn-icon {
      width: 1.8rem;
      height: 1.3rem;
      margin-left: 0.6rem;
      transform: translateX(0rem);
      position: relative;
      transition: all 0.3s;
    }

    &:hover {
      .btn-icon {
        transform: translateX(0.7rem);
      }
    }
  }

  &.full-width-btn {
    width: 40.4rem;
    max-width: 100%;
    height: 5.5rem;
    box-shadow: 0 0 0.7rem rgba($black, 0.2);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($os_blue, 20%);
  }

  &:active {
    background-color: $os_blue;
  }
}
