@import "../../../styles/mixins";

.logo-horizontal {
  width: 12.7rem;
  height: 2.9rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.os-logo-horizontal-white {
  width: 18.375rem;
  height: 4.065rem;
  @include respond(phone) {
    width: 11.3rem;
    height: 2.5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.hcm-logo {
  width: 21rem;
  height: 5.353rem;
  @include respond(tab-land) {
    width: 19.765rem;
    height: 5.38rem;
  }
  @include respond(phone) {
    width: 16.3rem;
    height: 4.1rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.emc-logo {
  width: 8.9rem;
  height: 9rem;
  @include respond(tab-land) {
    width: 8.4rem;
    height: 8.4rem;
  }
  @include respond(phone) {
    width: 7.1rem;
    height: 7rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.firewings-logo {
  width: 23.4rem;
  height: 8.2rem;
  @include respond(tab-land) {
    width: 22rem;
    height: 7.7rem;
  }
  @include respond(phone) {
    width: 18.5rem;
    height: 6.5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.la-logo {
  width: 20.2rem;
  height: 10.6rem;
  @include respond(tab-land) {
    width: 19rem;
    height: 10rem;
  }
  @include respond(phone) {
    width: 16rem;
    height: 8.4rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
