@import "../../../styles/variables";
@import "../../../styles/mixins";

.contactless-dining {
  padding: 5.264rem 0;
  background-color: $cantaloupe_4;

  #testWrap {
    display: flex;
    align-items: center;
    margin-top: 24px;
    button.img-btn {
      background-color: transparent;
      border: 0;
      outline: 0;
      margin-left: 48px;
      img {
        width: 133px;
      }
    }
  }

  &--text-box {
    position: relative;
    padding-top: 3.236rem;
    max-width: 700px;
    margin: 0 auto;

    .text-box-title--blue {
      position: relative;
      transition: opacity 0.75s ease-in-out;

      &.absolute {
        position: absolute;
        top: 3.236rem;
      }

      &.fade-in {
        opacity: 0;
      }
    }

    .text-box-title--blue,
    .text-box-title--black {
      font-size: 6rem;
    }

    .small-text {
      font-size: 1.7rem;
      margin: 1.8rem 0 2.9rem 0;
    }

    .schedule-demo-wrapper {
      margin-top: 16px;
    }
  }

  &--content-box {
    position: relative;

    .mob-bg-1 {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      width: 14rem;
      height: 13rem;
    }

    .mob-bg-2 {
      position: absolute;
      left: 1.5rem;
      top: -1.6rem;
      width: 9.4rem;
      height: 9rem;
    }
  }

  .bg-flat-line {
    height: 32.5rem;
    width: 100%;
    position: absolute;
    top: 11.136rem;
    left: 0;
    background: rgba(235, 177, 140, 0.3);
  }

  .small-text {
    &.agree-to-email {
      font-size: 1.2rem !important;
      max-width: 38.5rem !important;
      margin-top: 16px !important;
      margin-left: 0.3rem !important;
    }

    &--bold {
      font-weight: 700;
    }
  }

  .image-wrapper {
    // width: 65.9rem;
    // height: 59.2rem;
    // background-color: $merigold_4;
    position: relative;
    margin-left: auto;
    overflow: hidden;

    .lines-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 53rem;
    }

    //.girl-img {
    //  position: absolute;
    //  bottom: -4rem;
    //  left: 1.8rem;
    //  width: 63rem;
    //  height: 69rem;
    //}
    .boy-girl-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto;
      height: 100%;
    }
  }
}

//Tablet
@include respond(tab-land) {
  .contactless-dining {
    padding: 5.9rem 0;

    &--text-box {
      padding-top: 1.7rem;

      .text-box-title--blue,
      .text-box-title--black {
        &.absolute {
          top: 1.7rem;
        }

        font-size: 5rem;
      }
    }

    .bg-flat-line {
      top: 7.6rem;
      height: 24.6rem;
    }

    .small-text {
      font-size: 1.5rem;
      margin: 1rem 0 !important;

      &.agree-to-email {
        font-size: 1.2rem !important;
        max-width: 100% !important;
        margin-top: 22px !important;
        margin-left: 0 !important;
      }
    }

    .image-wrapper {
      width: 43.9rem;
      height: 39.6rem;

      .lines-img {
        height: 34rem;
      }

      .girl-img {
        width: auto;
        height: 100%;
      }
    }
  }
}

//Phone
@include respond(phone) {
  .contactless-dining {
    padding: 3rem 0;

    &--text-box {
      .text-box-title--blue,
      .text-box-title--black {
        font-size: 3rem;
      }

      //  preview store form
      .store-preview-form {
        .form-wrapper--title {
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }

    .small-text {
      font-size: 1.6rem;
      margin: 1.5rem 0 0.5rem 0 !important;
      max-width: 100%;
      line-height: 1.5;
    }
  }
}

// @media (min-width: 1200px) and (max-width: 1252px) {
//   .contactless-dining {
//     .image-wrapper {
//       width: 62rem;
//       height: 54rem;

//       .lines-img {
//         height: 50rem;
//       }
//     }
//   }
// }
