#formstackEmbedSection {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 80px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  h1.section-title {
    font-family: "Ubuntu", sans-serif;
    color: #2f47ff;
    font-size: 60px;
    font-weight: bold;
    @media screen and (max-width: 991px) {
      font-size: 48px;
    }
  }
  p.section-text {
    font-family: "Ubuntu", sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 8px;
    span {
      font-weight: 300;
      font-size: 28px;
    }
    @media screen and (max-width: 991px) {
      font-size: 26px;
      span {
        font-size: 22px;
      }
    }
  }

  iframe {
    border: 0;
  }

  div#iframePcWrap {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  div#iframeMobileWrap {
    display: none;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }
}
