@import "../../../styles/variables";
@import "../../../styles/mixins";

.order-type-single {
  &--text-box {
    position: relative;
  }

  &--beta-btn {
    width: 12.6rem;
    height: 5rem;
    background-color: transparent;
    border: 3px solid $cantaloupe_2;
    border-radius: 3rem;
    color: $cantaloupe_2;
    font-size: 2rem;
    margin-bottom: 0.7rem;

    &:hover,
    &:active {
      background-color: transparent;
    }

    @include respond(phone) {
      border: 1px solid $indigo_2;
      border-radius: 1.3rem;
      color: $indigo_2;
      width: 5.4rem;
      height: 2.6rem;
      font-size: 1.3rem;
      font-weight: 500;
      position: absolute;
      top: -3rem;
      left: 6rem;
    }
  }

  &--title {
    margin-bottom: 2.8rem;
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
  }

  &--info {
    @include respond(tab-land) {
      font-size: 1.4rem;
    }
  }

  .text-box-details {
    list-style: none;
  }

  &--detail {
    font-size: 1.8rem;
    font-weight: 400;
    color: $indigo_2;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    &:before {
      content: "\2022";
      color: $os_blue;
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      width: 13px;
      height: 20px;
      margin-left: 0;
    }
  }

  .play-btn {
    p {
      color: $blue_2;
    }
  }

  @include respond(phone) {
    margin-bottom: 2.7rem;
    margin-top: 3.2rem;

    .row {
      flex-direction: column-reverse;
    }

    &--text-wrapper {
      padding: 0;
    }

    &--text-box {
      max-width: 32rem;
      margin: 1rem auto 0 auto;
      min-height: auto;
      padding-right: 0;

      .order-type-single--title {
        font-size: 1.5rem;
        text-align: center;
        @include respond(phone) {
          margin-bottom: 0.9rem !important;
          padding: 0 0.8rem 0 0.8rem;
        }
      }

      .order-type-single--info {
        font-size: 1.2rem;
        text-align: center;
        @include respond(phone) {
          padding: 0 0.8rem 0 0.8rem;
        }
      }

      .text-box-details {
        margin-bottom: 1.7rem;
        @include respond(phone) {
          padding: 0 1rem 0 1rem;
        }
      }

      .order-type-single--detail {
        font-size: 1.2rem;
        text-align: left;
      }
    }
  }

  button.play-video-button {
    border: 0;
    box-shadow: none;
    width: 16rem;
    height: 4.9rem;
    border-radius: 100px;
    background-color: #2f47ff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;

    i {
      display: inline-block;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      margin-right: 8px;
      border-style: solid;
      border-width: 8px 0 8px 13.5px;
      border-color: transparent transparent transparent #fff;
    }
  }

  .action-buttons {
    width: 22rem;
    margin-top: 1.7rem;
    font-size: 1.8rem;
    @include respond(phone) {
      display: none;
      // margin: 0.9rem auto 0 auto;
      // width: 100%;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // &--btn {
      //   width: 100% !important;
      //   height: 4rem !important;
      //   font-size: 1.2rem;
      // }
    }

    .play-btn {
      margin: 1.6rem auto 0 auto;

      @include respond(phone) {
        margin-top: 0.6rem;
        p {
          font-size: 1.2rem;
          color: $blue_2;
        }
      }
    }
  }

  .img-row-wrapper {
    padding-left: 0;
    @include respond(tab-land) {
      padding-left: 15px;
    }
    @include respond(phone) {
      &--title-wrapper {
        background-color: rgba($secondary_brand_merigold, 0.4);
        height: 3rem;
        max-width: 18.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 2.1rem auto;
      }
    }
  }

  &--img-wrapper {
    width: 73.4rem;
    height: 48.5rem;
    position: relative;
    @include respond(tab-land) {
      width: 45.206rem;
      height: 29.7rem;
      margin: auto;
    }

    @include respond(phone) {
      display: flex;
      justify-content: center;
    }

    .order-type-single--img {
      width: 100%;
      height: 100%;
    }

    @include respond(phone) {
      width: 100%;
      height: auto;
      .order-type-single--img {
        display: none;
      }

      .order-type-single--sub-img {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
      }
    }

    .order-type-single--sub-img {
      position: absolute;
      left: -5.5rem;
      bottom: -10rem;

      &.item-with-cart-img {
        width: 49.9rem;
        height: 27.3rem;
      }

      &.next-gen-img {
        width: 40.4rem;
        height: 33.8rem;
      }

      @include respond(tab-land) {
        &.item-with-cart-img {
          width: 35rem;
          height: 18rem;
          position: absolute;
          left: -6.5rem !important;
          bottom: -7rem !important;
        }

        &.apple-with-google-pay-btn {
          width: 35rem !important;
          height: 19rem;
          left: -3.4rem !important;
          bottom: -8rem !important;
        }

        &.next-gen-img {
          width: 31rem;
          height: 21rem;
          left: -5rem !important;
          bottom: -12rem !important;
        }
      }

      @include respond(phone) {
        &.item-with-cart-img {
          width: 18.4rem;
          height: 10.1rem;
          left: 0 !important;
          bottom: 0 !important;
        }

        &.apple-with-google-pay-btn {
          width: 22.3rem !important;
          height: 12.4rem;
          left: 0 !important;
          bottom: 0 !important;
        }

        &.next-gen-img {
          width: 20.8rem;
          height: 17.4rem;
          left: 0 !important;
          bottom: 0 !important;
        }
      }
    }
  }
}
