@import "../../../styles/variables";
@import "../../../styles/mixins";

.ready-to-get-started-section {
  position: relative;
  width: 100%;
  background-color: #f6dece;
  backdrop-filter: blur(4px);
  padding: 104px 0;
  text-align: center;

  &.os-hide {
    display: none;
  }

  @media screen and (max-width: 600px) {
    padding: 48px 0;
  }

  h1 {
    margin: 0;
    color: #2f47ff;
    font-weight: bold;
    font-size: 5.5rem;

    @media screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }
  p {
    margin: 0;
    font-weight: bold;
    font-size: 3.2rem;
    margin-top: 14px;
    @media screen and (max-width: 600px) {
      font-size: 2.6rem;
      margin-top: 8px;
    }
  }
  a {
    margin: 0;
    margin-top: 36px;
    display: block;
    color: #000;
    font-size: 3.2rem;
    @media screen and (max-width: 600px) {
      font-size: 2.6rem;
      margin-top: 24px;
    }
  }
}
