@import "../../../styles/variables";
@import "../../../styles/mixins";

.customer-reviews-caroused-section {
  background-color: $cantaloupe_4;
  padding: 7.8rem 0 17.7rem 0;
  @include respond(tab-land) {
    padding: 12.5rem 0 15.2rem 0;
  }
  @include respond(phone) {
    padding: 6.7rem 0 6.2rem 0;
  }

  //carousel indicator styling
  .carousel-indicators {
    bottom: -6.6rem;
    @include respond(phone) {
      bottom: -4rem;
    }

    li {
      background-color: $silver;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      box-sizing: border-box;
      border: none;
      opacity: 1;
      margin: 0 1.65rem;
      @include respond(phone) {
        margin: 0 0.8rem;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background-color: $indigo_2;
      }
    }
  }
}

.customer-review-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include respond(phone) {
    position: relative;
    padding-top: 7.5rem;
  }

  .name-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 14.3rem;
    margin-right: 2.3rem;
    @include respond(phone) {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      flex-direction: row;
      align-items: flex-start;
      max-width: 100%;
    }

    .img-wrapper {
      position: relative;
      // padding: 1.1rem 0 0 1.6rem;

      // &:before {
      //   content: "";
      //   width: 10.7rem;
      //   height: 10.7rem;
      //   @include respond(phone) {
      //     width: 7.9rem;
      //     height: 7.9rem;
      //   }
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background-color: $candy_4;
      // }

      .customer-img {
        width: 12.8rem;
        @include respond(phone) {
          width: 8.3rem;
          height: 8.3rem;
        }
        position: relative;
        z-index: 1;
      }
    }

    .customer-review--name {
      max-width: 15.3rem;
      color: $indigo_2;
      font-weight: 500;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;

      span {
        text-align: center;
        width: 100%;
      }

      @include respond(phone) {
        margin: 1.1rem 0 0 0.8rem !important;
        font-size: 1.2rem;
      }
    }
  }

  .customer-comments {
    display: flex;
    background-color: $white;
    min-height: 17.6rem;
    width: 96rem;
    border-radius: 1rem;
    padding: 2.1rem 1.7rem 2rem 1.6rem;
    @include respond(phone) {
      padding: 3.7rem 1.7rem 2.3rem 1.7rem;
      p {
        font-size: 1.3rem;
      }
    }

    .quotes {
      margin-right: 0.8rem;

      img {
        @include respond(phone) {
          width: 3.9rem;
          height: 2.2rem;
        }
      }
    }
  }
}

//Phone
@include respond(phone) {
  .customer-reviews-caroused-section {
    //carousel indicator styling
    .carousel-indicators {
      bottom: -4rem;

      li {
        margin: 0 0.8rem;
      }
    }
  }

  .customer-review-component {
    position: relative;
    padding-top: 9rem;

    .name-and-image {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      flex-direction: row;
      align-items: center;
      max-width: 100%;

      .img-wrapper {
        &:before {
          width: 7.9rem;
          height: 7.9rem;
        }

        .customer-img {
          width: 8.3rem;
          height: 8.3rem;
        }
      }

      .customer-review--name {
        margin: 1.1rem 0 0 0.8rem !important;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;

        span {
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }

    .customer-comments {
      padding: 2rem 1.5rem 2rem 1.3rem;
      flex-direction: column;

      p {
        font-size: 1.3rem;
        font-weight: 400;
        padding-left: 1rem;
        padding-top: 0.7rem;
      }

      .quotes {
        img {
          width: 2.3rem;
          height: 1.3rem;
        }
      }
    }
  }
}
