@import "../../../styles/variables";
@import "../../../styles/mixins";

.features-section {
  background-color: $cantaloupe_4;

  &--wrapper {
    padding-top: 4.4rem !important;
  }
}

.feature-single {
  position: relative;

  .block-1-dots {
    &--img {
      width: 10.583rem;
      height: 20.26rem;
      position: absolute;
      left: -1.2rem;
    }
  }

  .block-2-dots {
    position: absolute;
    left: 5.4rem;
    top: 0.9rem;

    &--img {
      width: 9.438rem;
      height: 17.269rem;

      &:last-child {
        margin-left: 1.1rem;
      }
    }
  }

  .block-3-dots {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;

    &--img {
      width: 11.9rem;
      height: 22.781rem;
    }
  }

  &--bg {
    width: 34.2rem;
    height: 22rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--wrapper {
    width: 39.6rem;
    position: relative;
    margin-top: 5.4rem;
  }

  &--img {

    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.12);
    }
  }


  //full-width : 396
  &--sub-wrapper {
    position: relative;
    z-index: 1;
    padding: 1.3rem 1.7rem 0 1.7rem;
  }

  &--text-main {
    font-size: 9rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  &--text-sub {
    color: $indigo_2;
    font-size: 2rem;
    font-weight: 400;
    max-width: 20rem;
    text-align: center;
    margin: 0 auto;
  }
}

//Tablet
@include respond(tab-land) {
  .features-section {
    &--wrapper {
      padding-top: 7rem !important;
    }
  }

  .feature-single {
    .block-1-dots {
      &--img {
        width: 8.2rem;
        height: 15.8rem;
      }
    }

    .block-2-dots {
      &--img {
        width: 7rem;
        height: 12.8rem;
      }
    }

    .block-3-dots {
      &--img {
        width: 9.9rem;
        height: 18.9rem;
      }
    }

    &--bg {
      width: 26.741rem;
      height: 17.197rem;
    }

    &--wrapper {
      width: 29.6rem;
    }

    //full-width : 396
    &--sub-wrapper {
      .feature-single--img {
        width: 27.969rem;
        height: 18.615rem;
      }
    }

    &--text-main {
      font-size: 8rem;
      margin-top: 1.5rem;
      margin-bottom: 0.3rem;
    }
  }
}

//Phone
@include respond(phone) {
  .features-section {
    &--wrapper {
      padding-top: 34px !important;
    }

    @media (max-width: 350px) {
      overflow: hidden;
    }
  }

  .feature-single {
    .block-1-dots {
      &--img {
        width: 5rem;
        height: 9.6rem;
        right: 27px;
        left: auto;
        top: -35px;
      }
    }

    .block-2-dots {
      &--img {
        display: none;
      }
    }

    .block-3-dots {
      &--img {
        display: none;
      }
    }

    &--wrapper {
      margin: 0 auto 2.6rem auto;
    }

    &--text-main {
      font-size: 5rem;
    }

    &--text-sub {
      font-size: 1.5rem;
      max-width: 100%;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1252px) {
  .feature-single {
    .block-1-dots {
      &--img {
        width: 8.2rem;
        height: 15.8rem;
      }
    }

    .block-2-dots {
      &--img {
        width: 7rem;
        height: 12.8rem;
      }
    }

    .block-3-dots {
      &--img {
        width: 9.9rem;
        height: 18.9rem;
      }
    }

    &--bg {
      width: 26.741rem;
      height: 17.197rem;
    }

    &--wrapper {
      width: 29.6rem;

      img {
        &:hover {
          transform: scale(1.15);
        }
      }
    }

    //full-width : 396
    &--sub-wrapper {
      .feature-single--img {
        width: 27.969rem;
        height: 18.615rem;
      }
    }

    &--text-main {
      font-size: 8rem;
      margin-top: 1.5rem;
      margin-bottom: 0.3rem;
    }
  }
}

