@import "../../../styles/variables";
@import "../../../styles/mixins";

.item-included-section {
  background-color: rgba(#eff0f4, 0.4);
  margin-top: 12.8rem;
  position: relative;

  &--text-box {
    padding-top: 0 !important;
    padding-bottom: 7rem !important;
  }

  &--title {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
  }

  &--text {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;

    &.desktop-title {
      display: block;
    }

    &.tablet-title {
      display: none;
    }
  }

  .carousel {
    max-width: 68rem;
    margin: auto;
    width: 100%;
  }

  .container {
    padding-top: 9.3rem;
    padding-bottom: 6rem;
    position: relative;

    .item-included-section--img-wrapper {
      .arrow-wrapper {
        display: none;
      }
    }

    .img-wrapper {
      .img-container {
        max-width: 68rem;
        width: 100%;
        height: 44.5rem;
      }
    }
  }
}

.icon-with-text-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
  display: flex;
  margin-bottom: 3rem;
  cursor: pointer;
  width: 100%;

  &:focus {
    outline: none;
  }

  &--text-box {
    margin-left: 2.2rem;
  }

  .btn-text--main {
    font-weight: 500;
    color: $indigo-3;
    margin-bottom: 0.8rem;
  }

  .btn-text--sub {
    opacity: 0;
    visibility: hidden;
    font-size: 1.5rem;
    color: $light_steel_blue_5;
  }

  &.active {
    transition: background-color 0.3s ease-in-out;
    background-color: $indigo_2;
    padding: 2.1rem 2.7rem 2.1rem 1.2rem;
    margin-bottom: 2.7rem;

    .btn-text--main {
      color: $light_steel_blue_5;
      font-weight: 700;
    }

    .btn-text--sub {
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
    }
  }
}

//Tablet
@include respond(tab-land) {
  .item-included-section {
    margin-top: 6rem;

    &--title {
      font-size: 3rem;
    }

    &--text {
      font-size: 1.8rem;
      margin-top: 1.3rem;

      &.desktop-title {
        display: none;
      }

      &.tablet-title {
        display: block;
      }
    }

    .carousel {
      width: 100%;
    }

    .container {
      padding-top: 7.3rem;
      padding-bottom: 9rem;

      .item-included-section--img-wrapper {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
      }

      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .img-container {
          max-width: 49.4rem;
          height: 32.4rem;
        }
      }
    }
  }

  .icon-with-text-btn {
    margin-bottom: 2rem;
  }
}

//Phone
@include respond(phone) {
  .item-included-section {
    margin-top: 0;

    &--text-box {
      padding-top: 4.1rem !important;
      padding-bottom: 2.3rem !important;
    }

    &--title {
      font-size: 1.8rem;
    }

    &--text {
      font-size: 1.2rem;
      max-width: 26.2rem;
      margin: 0 auto 0 auto;
    }

    .container {
      position: relative;
      padding: 0;

      .row {
        margin: 0;
      }

      .item-included-section--img-wrapper {
        position: relative;
        background-color: #fbf2eb;
        padding-top: 1.7rem;
        padding-bottom: 5.5rem;

        .icon-with-text-btn {
          &.active {
            padding: 0;
            background-color: transparent;
            width: auto;

            .btn-text--sub {
              color: $indigo-2;
              font-weight: 500;
              font-size: 1.3rem;
            }
          }

          &--text-box {
            margin-left: 1.7rem;
          }
        }

        .arrow-wrapper {
          display: none;
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 50%;
          background-color: $indigo_2;
          //display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 5;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          &:active {
            opacity: 0.5;
          }

          &.arrow-next-wrapper {
            top: 50%;
            right: 2.5rem;
          }

          &.arrow-before-wrapper {
            top: 50%;
            left: 2.5rem;

            img {
              transform: rotate(180deg);
            }
          }
        }

        //  Carousel dots
        ol.carousel-indicators {
          z-index: 2;
          bottom: -5.6rem;

          li {
            margin: 0 1.6rem 0 0;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $silver;

            &.active {
              background-color: $indigo-2;
            }
          }
        }
      }

      .img-wrapper {
        .img-container {
          width: 24rem;
          height: 16rem;
        }
      }
    }
  }

  .icon-with-text-btn {
    margin: 0 auto 1.2rem auto !important;
    max-width: 28.3rem;

    img {
      width: 3.6rem;
      height: 3.6rem;
    }

    .btn-text {
      font-size: 1.3rem;
      font-weight: 500 !important;
    }
  }
}
