@import "../../../styles/variables";
@import "../../../styles/mixins";

.orderspot-resources {
  padding-top: 19.7rem;
  padding-bottom: 29.6rem;

  &.not-home-page {
    padding-top: 6.2rem;
    padding-bottom: 10.7rem;

    .orderspot-resources--title {
      margin-bottom: 6.6rem !important;
    }
  }

  .container {
    padding: 0 6rem;
    @media (max-width: 1350px) {
      padding: 0 3rem;
    }
  }

  .orderspot-resources--title {
    margin-bottom: 7rem;
    font-size: 5.5rem;
  }

  .img-text-wrapper {
    width: 66.3rem;
    height: 62.7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 4.4rem 2.8rem;
    display: flex;
    align-items: flex-end;
    filter: grayscale(100%);

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.3);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s all;
    }

    &:hover {
      filter: grayscale(0);

      .img-text-wrapper--overlay {
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
      }
    }

    .blog-bg-img {
      width: 100%;
      height: 100%;
    }

    .text-box {
      position: relative;
      z-index: 2;

      &--title {
        margin-bottom: 1.3rem;
        text-shadow: 0 0 1rem rgba($black, 0.25);
      }

      &--read-more {
        color: $white;
        font-weight: 700;
        font-size: 2.7rem;
        text-decoration: underline;
        display: inline-block;
        margin-top: 3.4rem;
      }
    }
  }

}

//.orderspot-resources--text-boxes {
//  padding: 3.2rem 0.6rem 0 0.6rem;
//}

.orderspot-resources--text-box {
  margin-bottom: 7.4rem;
  max-width: 42rem;

  &:last-child {
    margin-bottom: 0;
  }

  .main-title {
    font-size: 4rem;
    font-weight: 700;
    color: $headline_indigo;
    display: inline-block;
    padding: 0.6rem 0.5rem;
    margin-bottom: 1.5rem;
  }

  .learn-more-text {
    font-size: 2.8rem;
    color: $secondary_brand_merigold;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;

    &:active {
      opacity: 0.8;
    }
  }
}


//Tablet
@include respond(tab-land) {
  .orderspot-resources {
    padding-top: 15.7rem;
    padding-bottom: 14.5rem;

    &.not-home-page {
      padding-top: 8.7rem;
      padding-bottom: 15.3rem;
    }

    .container {
      @media (max-width: 1350px) {
        padding: 0 3rem;
      }
      padding: 0 15px;
    }

    .img-text-wrapper {
      width: 100%;
      height: 51.4rem;

      .text-box {
        &--title {
          margin-bottom: 1.3rem;
          text-shadow: 0 0 1rem rgba($black, 0.25);
          font-size: 3rem;
        }

        &--date {
          font-size: 2rem;
        }

        &--read-more {
          font-size: 2.5rem;
          margin-top: 2.5rem;
        }
      }
    }

  }

  .orderspot-resources--text-boxes {
    padding: 0 0.6rem 0 0.6rem;
  }

  .orderspot-resources--text-box {
    margin-bottom: 2.4rem;

    .main-title {
      margin-bottom: 1.6rem;
    }

    .sub-title {
      margin-bottom: 1.6rem !important;
    }

    .sub-text {
      margin-bottom: 1.6rem !important;
    }

    .learn-more-text {
      font-size: 2rem;
    }
  }
}

//Phone
@include respond(phone) {
  .orderspot-resources {
    padding-top: 14.5rem;
    padding-bottom: 22.3rem;

    &.not-home-page {
      padding-top: 3.5rem;
      padding-bottom: 6.1rem;
    }

    .container {
      @media (max-width: 1350px) {
        padding: 0 3rem;
      }
    }

    .orderspot-resources--title {
      font-size: 2rem;
      margin-bottom: 2.2rem;
    }

    .img-text-wrapper {
      max-width: 26.6rem;
      height: 25.7rem;
      padding: 3.1rem 1.2rem;
      margin: auto auto 3.2rem auto;
      @media(min-width: 700px) {
        max-width: 41.6rem;
        height: 36rem;
        padding: 3.1rem 2.6rem;
      }
      @media(min-width: 769px) {
        margin: 0;
      }

      @media(max-width: 991px) and (min-width: 768px) {
        margin-left: auto;
      }

      .text-box {
        &--title {
          text-shadow: 0 0 1rem rgba($black, 0.25);
          font-size: 1.5rem;
          margin-bottom: 0.7rem;
        }

        &--date {
          font-size: 1.4rem;
        }

        &--read-more {
          font-size: 1.5rem;
          margin-top: 1.3rem;
        }
      }
    }

  }

  .orderspot-resources--text-box {
    .main-title {
      font-size: 2rem;
      padding: 0;
    }

    .sub-title {
      font-size: 1.3rem;
      margin-bottom: 0.7rem !important;
    }

    .sub-text {
      font-size: 1.3rem;
    }

    .learn-more-text {
      font-size: 1.4rem;
    }
  }
}
