@import "../../../styles/variables";
@import "../../../styles/mixins";

.order-types-section {
  background-color: #fff;

  #scheduleDemoContainer {
    max-width: 600px;
    margin: 32px auto -24px;
    @include respond(phone) {
      display: none;
    }
  }

  @include respond(phone) {
    padding-bottom: 2rem;
    background-color: rgba(#ffd172, 0.3);

    .your-res--title {
      font-size: 1.8rem;
      color: $indigo_2;
      font-weight: 700;
      text-align: center;
    }

    .your-res--text {
      font-size: 1.2rem;
      color: $indigo_2;
      font-weight: 500;
      text-align: center;
    }
  }

  &--btns-text-wrapper {
    background-color: rgba(#ffd172, 0.6);
  }

  &--text-box {
    padding-top: 5.2rem !important;
    padding-bottom: 10.7rem;
  }

  &--title {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1.3rem;
    @include respond(tab-land) {
      font-size: 4rem;
    }
  }

  &--text {
    font-size: 2.3rem;
    max-width: 81.7rem;
    margin: auto;
    text-align: center;
    @include respond(tab-land) {
      max-width: 55rem;
      font-size: 1.8rem;
    }
  }

  .container {
    position: relative;
    padding-top: 6.8rem;

    //@include respond(tab-land) {
    //  padding-top: 11.4rem;
    //}

    @include respond(phone) {
      padding: 3.2rem 2rem 0 2rem;
      .order-types-wrapper {
        padding: 0;
      }
    }
  }

  .navigation-texts {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    display: flex;
  }

  .navigation-text {
    cursor: pointer;
    font-size: 2.5rem;
    color: $indigo_2;
    font-weight: 700;
    padding: 1rem 4rem;
    border: 0.1rem solid $merigold_2;
    background-color: $light_steel_blue_5;
    width: 31.3rem;
    height: 6.5rem;

    &:focus {
      outline: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: $secondary_brand_merigold;
      border-color: transparent;
    }
  }

  .carousel-inner {
    padding-bottom: 13.4rem;
    @include respond(tab-land) {
      padding-bottom: 7.8rem;
    }
  }

  .play-btn {
    margin: 16px auto 0;
    p {
      font-size: 18px;
    }
  }
}
