@import "../../../styles/variables";
@import "../../../styles/mixins";

.restaurants-with-logos {
  padding: 3.836rem 0;
  background-color: $cantaloupe_4;

  .title-with-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--line {
      height: 1.5rem;
      width: 38.7rem;
      background-color: $tertiary_cantaloupe;
      border-radius: 1rem;
    }

    &--title {
      margin-top: 2.8rem;

      &.desktop-title {
        display: block;
      }

      &.tablet-title {
        display: none;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .logos-wrapper {
    margin-top: 4.5rem;

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//Tablet
@include respond(tab-land) {
  .restaurants-with-logos {
    padding-top: 0;

    .title-with-line {
      &--title {
        &.desktop-title {
          display: none;
        }

        &.tablet-title {
          display: block;
        }
      }
    }
  }
}

//Phone
@include respond(phone) {
  .restaurants-with-logos {
    .title-with-line {
      &--line {
        width: 11.5rem;
        height: 0.8rem;
      }

      &--title {
        text-align: center;
        margin-top: 1.2rem !important;
        font-size: 1.5rem;
        max-width: 27rem;
        margin-bottom: 0.5rem;
      }
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10rem;
    }

    //  Mobile logos carousel styling
    //carousel indicator styling
    .carousel-indicators {
      bottom: -3.5rem;

      li {
        background-color: $silver;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        box-sizing: border-box;
        border: none;
        opacity: 1;
        margin: 0 0.8rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background-color: $indigo_2;
        }
      }
    }
  }
}
