@import "../../../styles/variables";
@import "../../../styles/mixins";

.signup-form-section {
  position: relative;
  width: 100%;
  background-color: #f6dece;
  backdrop-filter: blur(4px);
  padding: 72px 0;

  &.os-hide {
    display: none;
  }

  &--form-wrapper {
    // position: absolute;
    // top: 50%;
    // left: 15px;
    // z-index: 2;
    // transform: translateY(-50%);

    .store-preview-form {
      padding: 5.2rem 6.2rem;
    }
  }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: 0;
  //   width: 100%;
  //   height: 61rem;
  //   background-color: #f6dece;
  //   backdrop-filter: blur(4px);
  // }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;

    .signup-form {
      position: absolute;
      top: 23.5rem;
      left: 3rem;
      z-index: 2;
    }
  }

  .signup-form-section-bg-img-wrapper {
    width: 66.8rem;
    height: 85.954rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $merigold_4;
    // border: 0.5px solid rgba(132, 142, 156, 0.4);

    .signup-form-pc-bg-img {
      position: absolute;
      right: -2.5rem;
      top: 50%;
      width: 81rem;
      transform: translate(0, -50%);
      @media (max-width: 1260px) and (min-width: 1199px) {
        right: 0;
        width: 75rem;
      }
    }
  }
}

//Tablet
@include respond(tab-land) {
  .signup-form-section {
    background-color: #f6dece;
    // height: 58rem;
    width: 100%;

    .container {
      display: block;
      height: 100%;
      width: 100%;
    }

    .calendly-inline-widget {
      height: 1000px !important;
    }

    &:before {
      display: none;
    }

    &--form-wrapper {
      position: relative;
      left: auto;
      top: auto;
      transform: unset;
      max-width: 720px;
      margin: auto;

      .store-preview-form {
        margin: auto;
        max-width: 53rem;
        width: 100%;
      }

      .input-field {
        input {
          height: 5.5rem;
        }
      }

      .form-wrapper--btn {
        button {
          height: 5.5rem;
        }
      }
    }

    .signup-form-section-bg-img-wrapper {
      display: none;
    }

    //  Background dots
    &--dots-t-top {
      width: 22rem;
      height: 22rem;
      position: absolute;
      top: -1.9rem;
      left: 4.9rem;
      display: block;
    }

    &--dots-t-bottom {
      width: 20rem;
      height: 20rem;
      position: absolute;
      right: 4rem;
      bottom: -1rem;
      display: block;
    }
  }
}

//Phone
@include respond(phone) {
  .signup-form-section {
    background-color: #f6dece;
    backdrop-filter: blur(4px);
    padding: 48px 0;

    &--form-wrapper {
      .form-wrapper--title {
        text-align: center;
      }
    }

    &:before {
      display: none;
    }

    .container {
      display: block;
    }

    &--form-wrapper {
      max-width: 56rem;
      width: 100%;

      .store-preview-form {
        margin: auto;
        width: 100%;
        padding: 0;
      }

      .input-field {
        input {
          height: 4.2rem;
        }
      }

      .form-wrapper--btn {
        button {
          height: 4.8rem;
        }
      }
    }

    //  Background dots
    &--dots-t-top {
      display: none;
    }

    &--dots-t-bottom {
      display: none;
    }
  }
}
