@import "../../../styles/variables";
@import "../../../styles/mixins";

.we-do-everything {
  padding: 15.8rem 0 16.8rem 0;

  .we-do-everything--tasks {
    margin: 3.9rem auto 0 auto;
    max-width: 122rem;
  }

  .we-do-everything--task {
    display: flex;
    align-items: center;

    .task-img-1 {
      width: 7.414rem;
      height: 6.414rem;
    }

    .task-img-2 {
      width: 6.514rem;
      height: 6.114rem;
    }

    .task-img-3 {
      width: 5.4rem;
      height: 6.814rem;
    }

    .task-text {
      margin-left: 1.8rem;

      &.best-in-class-text {
        p {
          width: 34.4rem;
          @media (max-width: 1350px) {
            width: auto;
          }
        }
      }

      @media (min-width: 769px) {
        &.end-to-end-text {
          max-width: 25.1rem;
        }
      }

      span.os-blue-text {
        font-weight: 700;
        color: $os_blue;
      }
    }
  }
}

//Tablet
@include respond(tab-land) {
  .we-do-everything {
    padding: 13rem 0 13.3rem 0;
  }
}

//Phone
@include respond(phone) {
  .we-do-everything {
    padding: 4.3rem 0 0.786rem 0;

    &--text-box {
      max-width: 26rem;
      margin-left: auto;
      margin-right: auto;

      p {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .we-do-everything--tasks {
      margin-top: 4.5rem;
    }

    .we-do-everything--task {
      margin-bottom: 4.2rem;

      .task-text {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
