@media screen and (max-width: 767px) {
  .image-with-schedule-image-component {
    display: flex;
    justify-content: center;
    .image-with-schedule--d-img {
      display: none;
    }

    .image-with-schedule--t-img {
      display: none;
    }

    .image-with-schedule--m-img {
      max-width: 42rem;
      width: 100%;
      display: block;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .image-with-schedule-image-component {
    .image-with-schedule--d-img {
      display: none;
    }

    .image-with-schedule--t-img {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }

    .image-with-schedule--m-img {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .image-with-schedule--d-img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }

  .image-with-schedule--t-img {
    display: none;
  }

  .image-with-schedule--m-img {
    display: none;
  }
}
