@import "../../../styles/variables";
@import "../../../styles/mixins";

.temporary-btn {
  display: inline-block;
  margin-top: 3.2rem;
}

.login-form-and-login-google {
  margin-bottom: 15rem;
  text-align: center;

  &--title {
    margin-bottom: 1.2rem;
  }

  &--text {
    max-width: 54rem;
    margin: auto;
  }
}

.login-with-google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid $os_blue;
  border-radius: 0.4rem;
  height: 6rem;
  background-color: transparent;
  // max-width: 56rem;
  width: 100%;
  transform: scale(1);
  transition: transform 0.1s ease-in;
  // margin: 6.8rem auto 3rem auto;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.97);
  }

  .google-icon {
    width: 2.8rem;
    height: 2.9rem;
    margin-right: 3.3rem;
  }
}

//Tablet
@include respond(tab-land) {
  .login-form-and-login-google {
    text-align: center;
    margin-bottom: 15rem;

    &--title {
      font-size: 3.4rem;
      margin-bottom: 1.2rem;
    }

    &--wrapper {
      margin-top: 5.3rem;
    }

    .login-form-or-text {
      margin: 2rem 0;
    }

    &--text {
      max-width: 54rem;
      margin: auto;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }

  .login-with-google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid $os_blue;
    border-radius: 0.4rem;
    height: 6rem;
    background-color: transparent;
    // max-width: 56rem;
    width: 100%;
    transform: scale(1);
    transition: transform 0.1s ease-in;
    // margin: 6.8rem auto 3rem auto;

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.97);
    }

    .google-icon {
      width: 2.8rem;
      height: 2.9rem;
      margin-right: 3.3rem;
    }
  }
}

//phone
@include respond(phone) {
  .login-form-and-login-google {
    .create-store-btn {
      width: 100%;
    }
  }
}
