@import "../../../styles/variables";
@import "../../../styles/mixins";

.category-and-product-section {
  .category-items-wrapper {
    width: 100%;
    overflow: auto;
  }

  .category-wrapper {
    @include respond(phone) {
      width: 50rem;
    }
    height: 7.2rem;
    @include respond(tab-land) {
      height: 6.4rem;
    }
    display: flex;
    align-items: center;

    .category {
      color: #DBDBDB;
      font-size: 2rem;
      font-weight: 700;
      margin-right: 4rem;
      cursor: pointer;

      &.active {
        color: $os_blue;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: -0.3rem;
          left: 0;
          height: 0.3rem;
          border-radius: 1rem;
          width: 100%;
          background-color: $os_blue;
        }
      }
    }
  }

  .product-wrapper {
    margin-top: 2.3rem;
    position: relative;
    @include respond(tab-land) {
      margin-top: 2rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(359.28deg, #FFFFFF 8.08%, rgba(226, 226, 226, 0) 98.82%);
    }

    &--title {
      font-weight: 700;
      color: #3a3a3a;
      font-size: 2rem;
      margin-bottom: 1.6rem;
    }
  }
}
