@import "../../../styles/variables";
@import "../../../styles/mixins";

.signup-section {
  height: 105rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    background-image: none !important;
    height: auto;
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#f6dece, 0.3);
    backdrop-filter: blur(4px);
    @include respond(phone) {
      background-color: rgba(#FFFAF4, 1) !important;
    }
  }

  .login-form-and-login-google {
    z-index: 1;
    max-width: 81rem;
    background: $white;
    padding: 10.4rem 9.3rem 8.4rem 9.3rem;
    margin: 0;
    @include respond(phone) {
      background-color: rgba(#FFFAF4, 1);
      padding: 5.4rem 3.6rem 5.4rem 3.6rem;
    }

    &--title {
      max-width: 51.2rem;
      margin: auto;
      @include respond(phone) {
        font-size: 1.6rem;
      }
    }

    &--text {
      max-width: 100%;
      margin-top: 2rem;
      @include respond(phone) {
        font-size: 1rem;
        margin-top: 0.8rem;
      }
    }

    &--wrapper {
      margin-top: 5.1rem;
      @include respond(phone) {
        margin-top: 2.6rem;
      }
    }

    .login-form-or-text {
      margin-top: 1.8rem;
      margin-bottom: 2.4rem;
      @include respond(phone) {
        margin-top: 2rem;
      }
    }

    @include respond(phone) {
      .login-with-google-btn {
        height: 4.8rem;

        p {
          font-size: 1.3rem;
        }

        img {
          width: 1.9rem;
          height: 1.9rem;
        }
      }

      .login-form {
        .input-wrapper {
          input {
            height: 4.8rem;
          }
        }

        .form-wrapper--btn button {
          height: 4.8rem;
        }
      }
    }
  }
}

//old code
//.signup-section {
//  height: 105rem;
//  width: 100%;
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//  position: relative;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  @include respond(phone) {
//    height: auto;
//    .signup-form {
//      padding: 7.5rem 2.6rem;
//      width: 100%;
//      height: auto;
//      background-color: transparent;
//      box-shadow: none;
//
//      p {
//        font-size: 1.2rem;
//      }
//
//      &--main-text {
//        font-size: 1.5rem !important;
//        //max-width: 20.2rem;
//        margin: auto;
//      }
//
//      .signup-form--input-wrapper {
//
//        .input-field {
//          label {
//            font-size: 1.2rem;
//          }
//
//          input {
//            height: 4.4rem;
//          }
//        }
//
//        &.os-domain-input {
//          p {
//            font-size: 1rem;
//          }
//
//          input {
//            padding-left: 18.3rem;
//            padding-right: 1.8rem;
//          }
//
//          .base-url--text-box {
//            height: 4rem;
//            width: 17rem;
//            left: 1px;
//            top: 21px;
//          }
//        }
//
//        .helper-text {
//          p {
//            color: $indigo_2;
//
//            span {
//              color: #2F47FF !important;
//            }
//          }
//        }
//      }
//
//      .signup-form--checkbox {
//        margin-top: 2rem;
//        margin-bottom: 2.4rem;
//
//        input {
//          margin-right: 1rem;
//        }
//      }
//
//      .form-wrapper--btn {
//        button {
//          width: 100% !important;
//          height: 4.8rem !important;
//          font-size: 1.2rem !important;
//        }
//      }
//    }
//  }
//
//  &:before {
//    content: "";
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: rgba(#F6DECE, 0.3);
//    backdrop-filter: blur(4px);
//    @include respond(phone) {
//      background-color: rgba(#F6DECE, 0.4) !important;
//    }
//  }
//
//  //  bg-dots
//
//  .preview-bottom-left-dots {
//    position: absolute;
//    bottom: 2.7rem;
//    left: 3rem;
//    height: 43.5rem;
//    width: 43.5rem;
//  }
//
//  .preview-bottom-right-dots {
//    position: absolute;
//    height: 43.5rem;
//    width: 43.5rem;
//    bottom: 8.9rem;
//    right: 7.1rem;
//  }
//
//  .preview-top-right-dots {
//    position: absolute;
//    top: 9rem;
//    right: 20rem;
//    height: 31.8rem;
//    width: 31.8rem;
//    z-index: 1;
//  }
//
//}
