@import "../../../styles/variables";
@import "../../../styles/mixins";

////For big screens
.store-product-item {
  padding: 0;
  border: 1px solid #DBDBDB;
  border-radius: 4px;

  .product-image {
    height: 166px;
    width: 166px;
    border-radius: 0;
  }

  .product-item-horizontal-line {
    display: none;
  }

  &--text-box {
    padding: 14px 10px 14px 0;
    margin: 0;

    .store-product-item--name,
    .store-product-item--description {
      margin-bottom: 7px;
    }
  }

  &--no-image {
    padding: 14px 18px;
  }
}

.store-product-item {
  position: relative;
  display: flex;
  cursor: pointer;
  min-height: 95px;
  margin-bottom: 6rem;
  @include respond(tab-land) {
    margin-bottom: 4rem;
  }

  @include respond(phone) {
    border: none;
    margin-bottom: 0;
    padding: 9px 8px 9px 8px;
    &--horizontal-line {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: hsla(0, 0%, 58%, .5);
    }
  }

  .product-item-horizontal-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(#949494, 0.5);
  }

  &--img-wrapper {
    .food-img-wrapper {
      border-radius: 0.8rem;
      height: 18rem;
      width: 18rem;
    }

    @include respond(tab-land) {
      border-radius: 0.8rem;
      height: 16rem;
      width: 16rem;
    }

    @include respond(phone) {
      display: flex;
      align-items: center;

      .food-img-wrapper {
        border-radius: 0.8rem;
        height: 10rem;
        width: 10rem;
      }
    }
  }

  &--text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .store-product-item--name,
    .store-product-item--description {
      margin-bottom: 0.7rem;
    }

    @include respond(phone) {
      .store-product-item--name {
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
      }
      .store-product-item--description {
        font-size: 1.3rem;
        margin-bottom: 0.4rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

  }
}
