@import "../../../styles/variables";

.top-bar {
  background-color: $white;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .simple-cart-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 9.8rem;
    transform: translateY(-50%);

    &--text {
      color: #3a3a3a;
    }
  }

  .simple-cart-icon-wrapper {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;

    .simple-cart-icon {
      width: 25px;
      height: 25px;
    }

    .simple-count-wrapper {
      border: 1px solid $white;
      width: 17.57px;
      height: 17.57px;
    }

  }
}
