@import "../../../styles/variables";
@import "../../../styles/mixins";

.store-vendor-header {
  position: relative;
  min-height: 35.7rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6.6rem 4rem 4rem 8.7rem;
  box-sizing: border-box;

  &--backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D;
    opacity: 0.6;
    backdrop-filter: blur(4px);
  }

  @include respond(tab-land) {
    min-height: 33.2rem;
    padding: 7rem 4rem 4rem 4.5rem;
  }
  @include respond(phone) {
    min-height: 25.61rem;
    padding: 3.7rem 3.3rem 3rem 2.2rem;
  }

  .vendor-header-text-box {
    position: relative;
    z-index: 1;

    .main-text {
      text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .main-text-2 {
      color: #FFD05C;
      text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .description-text {
      max-width: 315px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      position: relative;
      @include respond(phone) {
        font-size: 1.4rem;
        &:before {
          content: "";
          position: absolute;
          top: -1.3rem;
          left: 0;
          width: 10.4rem;
          height: 0.2rem;
          background-color: $white;
        }
      }
    }
  }

  .powered-by-os {
    position: absolute;
    bottom: 4.22rem;
    right: 10.7rem;
    display: flex;
    align-items: center;
    @include respond(tab-land) {
      bottom: 2.22rem;
      right: 6rem;
    }
    @include respond(phone) {
      bottom: 3.39rem;
      right: 2.1rem;
    }

    .horizontal-logo-white {
      width: 8.8rem;
      height: 1.98rem;
      margin-left: 0.7rem;
    }
  }
}
