@import "../../../styles/variables";
@import "../../../styles/mixins";

.os-dialog {
  background: rgba(143, 143, 143, 0.7);
  backdrop-filter: blur(4px);
  z-index: 2000;

  .modal-content {
    position: relative;
  }

  .os-dialog--close-icon {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.6rem 3.7rem;
    z-index: 100;

    img {
      width: 1.7rem;
      height: 1.7rem;
    }

    &:focus {
      outline: none;
    }
  }
}

//Signup form dialog
.signup-form--dialog {
  padding: 0 !important;

  .modal-content {
    max-width: 32rem;
    margin: 5.5rem auto 0 auto;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }

  .signup-form {
    border-radius: 1rem;
  }
}

//Login with google and login form Dialog
.login-google-form-dialog {
  .modal-dialog {
    max-width: 81.9rem;
    padding: 0 2rem;
  }

  .modal-content {
    border-radius: 1rem;
    background-color: $light_steel_blue_5;

    .os-dialog--close-icon {
      padding: 3.8rem 5.4rem;
      // top: 3.8rem;
      // right: 5.4rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .login-form-and-login-google {
      margin: 0;
      padding: 7.6rem 13rem;

      &--title {
        font-size: 3.4rem;
        margin-bottom: 1rem;
      }

      &--wrapper {
        margin-top: 4.6rem;
      }

      .login-form-or-text {
        margin: 2rem 0;
      }
    }
  }

  @include respond(phone) {
    .modal-content {
      .os-dialog--close-icon {
        padding: 2.6rem 3.4rem;
        // top: 2.6rem;
        // right: 3.4rem;

        img {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
      .login-form-and-login-google {
        margin: 0;
        padding: 7.2rem 3.4rem;

        &--title {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
        }

        &--text {
          font-size: 1rem;
        }

        &--wrapper {
          margin-top: 3.2rem;
        }

        .login-form-or-text {
          margin: 2rem 0;
          font-size: 1.1rem;
        }

        .input-wrapper {
          input {
            height: 4.5rem;
          }
        }

        .os-btn.full-width-btn {
          button {
            height: 4.5rem;
          }
        }

        .login-with-google-btn {
          border-width: 0.3rem;
          height: 4.4rem;

          p {
            font-size: 1.2rem;
          }

          img {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 2.2rem;
          }
        }

        .login-form-terms-conditions {
          font-size: 1rem;
        }
      }
    }
  }
}
