@import "../../../styles/variables";
@import "../../../styles/mixins";

.how-to-get-started {
  background-color: $white;

  .step-wrapper {
    .step-wrapper--img-wrapper {
      min-height: 21rem;
      display: flex;
      align-items: flex-end;
    }
  }

  &.not-home-page {
    .container {
      padding-top: 5.5rem;
      padding-bottom: 13.7rem;

      .getting-started-advantages {
        @include respond(tab-land) {
          &.preview-page {
            margin-top: 3.8rem;
            margin-bottom: 2rem;
          }
          .advantage {
            display: flex;
            align-items: center;
            margin-left: 7.2rem;

            &--text {
              font-size: 2rem;
            }

            &:first-child {
              margin-left: 0;
            }

            .big-dot {
              background-color: $indigo_2;
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50%;
              margin-right: 0.7rem;
              @include respond(phone) {
                width: 0.5rem;
                height: 0.5rem;
              }
            }
          }
        }
        @include respond(phone) {
          .advantage {
            &--text {
              font-size: 1.3rem;
              font-weight: 700;
            }

            .big-dot {
              width: 0.6rem;
              height: 0.6rem;
            }
          }
        }
      }
    }

    .step-wrapper {
      &--text {
        span {
          color: $indigo_2;
        }
      }
    }

  }


  .container {
    padding-top: 18.3rem;
    padding-bottom: 23.2rem;
    @include respond(tab-land) {
      padding-top: 12.7rem;
      padding-bottom: 20.6rem;
    }
    //for homepage
    .top-title {
      max-width: 85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 3.2rem auto;

      &--text {
        font-size: 5rem;

        &.desktop-title {
          display: block;
        }

        &.tablet-title {
          display: none;
        }
      }

      @include respond(tab-land) {
        max-width: 58.9rem;
        //height: 11.2rem;
        &--text {
          font-size: 4.5rem;

          &.desktop-title {
            display: none;
          }

          &.tablet-title {
            display: block;
          }
        }
      }
    }

    //for preview page
    .top-title-2 {
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        p {
          font-size: 2rem;
        }
      }

      &--signup {
        position: relative;

        //&:before {
        //  content: "";
        //  position: absolute;
        //  bottom: -0.6rem;
        //  left: 0;
        //  width: 12.7rem;
        //  height: 1.8rem;
        //  background-color: $evergreen_3;
        //  @include respond(phone) {
        //    width: 6.5rem;
        //    height: 1.4rem;
        //  }
        //}

        span {
          position: relative;
          z-index: 1;
        }
      }

    }

    .getting-started-advantages {
      display: flex;
      justify-content: center;
      margin-top: 3.6rem;
      margin-bottom: 8.2rem;
      @include respond(tab-land) {
        margin: 4.9rem auto 3.2rem auto;
      }
      @include respond(phone) {
        max-width: 22.9rem;
        flex-direction: column;
        margin-top: 2.3rem;
        margin-bottom: 2.8rem;
        .advantage {
          margin-left: 0 !important;
          margin-bottom: 0.9rem;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 1.3rem;
          }
        }
      }

      &.preview-page {
        margin-top: 3.1rem;
        margin-bottom: 7rem;
      }

      .advantage {
        display: flex;
        align-items: center;
        margin-left: 13.4rem;

        &--text {
          font-size: 24px;
        }

        &:first-child {
          margin-left: 0;
        }

        .big-dot {
          background-color: $indigo_2;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          margin-right: 0.7rem;
          @include respond(phone) {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
    }
  }

  .step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include respond(phone) {
      margin-bottom: 2rem;
    }

    .signup-form-wrapper {
      width: 32.5rem;
      height: 22.237rem;
      background-color: $indigo_5;
      display: flex;
      align-items: center;
      justify-content: center;

      .select-plan-img {
        width: 27rem;
        height: 16.3rem;
      }

      @include respond(tab-land) {
        width: 26.5rem;
        height: 18.1rem;
        .select-plan-img {
          width: 22rem;
          height: 13.1rem;
        }
      }

      @include respond(phone) {
        width: 21.5rem;
        height: 14.7rem;
        .select-plan-img {
          width: 17.5rem;
          height: 10.3rem;
        }
      }

    }


    .plans-img {
      width: 38.1rem;
      height: 22.8rem;
    }

    .box-imgs {
      width: 25.1rem;
      height: 23rem;
    }

    @include respond(tab-land) {

      .plans-img {
        width: 30.9rem;
        height: 18.1rem;
      }

      .box-imgs {
        width: 23rem;
        height: 21rem;
      }
    }

    @include respond(phone) {

      .plans-img {
        width: 26rem;
        height: 13.4rem;
      }

      .box-imgs {
        width: 17rem;
        height: 15.4rem;
      }
    }

    &--text {
      max-width: 28.3rem;
      text-align: center;
      margin: 3.909rem auto 0 auto;
      font-size: 2.4rem;

      span {
        color: $os_blue;
      }

      @include respond(tab-land) {
        font-size: 2rem;
        margin: 3.1rem auto 0 auto;
        max-width: 24rem;
      }

      @include respond(phone) {
        font-size: 1.3rem;
        margin-top: 1.6rem;
      }
    }
  }

}


//Tablet
@include respond(tab-land) {
  .how-to-get-started {
    &.not-home-page {
      .container {
        .getting-started-advantages {
          &.preview-page {
            margin-top: 3.8rem;
            margin-bottom: 2rem;
          }

          .advantage {
            display: flex;
            align-items: center;
            margin-left: 7.2rem;

            &--text {
              font-size: 2rem;
            }

            &:first-child {
              margin-left: 0;
            }

            .big-dot {
              background-color: $indigo_2;
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50%;
              margin-right: 0.7rem;
            }
          }
        }
      }
    }

    .container {
      padding-top: 12.7rem;
      padding-bottom: 20.6rem;

      //for homepage
      .top-title {
        max-width: 58.9rem;
        margin-bottom: 2.5rem;
      }

      //for preview page
      .top-title-2 {
        &--signup {
          &:before {
            width: 6.5rem;
            height: 1.4rem;
          }
        }
      }

      .getting-started-advantages {
        margin: 4.9rem auto 3.2rem auto;
      }
    }


    &.homepage {
      .container {
        padding-top: 12.7rem;
        padding-bottom: 20.6rem;
      }
    }


    .step-wrapper {
      .signup-form-wrapper {
        width: 26.5rem;
        height: 18.1rem;

        .select-plan-img {
          width: 22rem;
          height: 13.1rem;
        }
      }

      .plans-img {
        width: 30.9rem;
        height: 18.1rem;
      }

      .box-imgs {
        width: 23rem;
        height: 21rem;
      }

      &--text {
        font-size: 2rem;
        margin: 3.1rem auto 0 auto;
        max-width: 24rem;
      }
    }
  }
}

//Phone
@include respond(phone) {
  .how-to-get-started {
    &.not-home-page {
      .container {
        .getting-started-advantages {
          &.preview-page {
            display: none;
          }

          .advantage {
            .big-dot {
              width: 0.5rem;
              height: 0.5rem;
            }
          }

          .advantage {
            &--text {
              font-size: 1.3rem;
              font-weight: 700;
            }

            .big-dot {
              width: 0.6rem;
              height: 0.6rem;
            }
          }
        }
      }
    }

    &.not-home-page {
      .container {
        padding-top: 2.8rem;
        padding-bottom: 3.5rem;
      }
    }

    &.homepage {
      .container {
        padding-top: 11rem;
        padding-bottom: 9.9rem;
      }
    }

    .container {
      //for homepage
      .top-title {
        margin-bottom: 3.6rem;

        p {
          font-size: 2.5rem;
          position: relative;
          z-index: 5;
        }
      }

      //for preview page
      .top-title-2 {
        margin-bottom: 3.2rem;

        p {
          font-size: 2rem;
        }

        &--signup {
          &:before {
            width: 6.5rem;
            height: 1.4rem;
          }
        }

      }

      .getting-started-advantages {
        max-width: 22.9rem;
        flex-direction: column;
        margin-top: 2.3rem;
        margin-bottom: 2.8rem;

        .advantage {
          margin-left: 0 !important;
          margin-bottom: 0.9rem;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 1.3rem;
          }
        }

        .advantage {
          .big-dot {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
    }

    .step-wrapper {
      margin-bottom: 4.6rem;

      .step-wrapper--img-wrapper {
        min-height: auto;
      }


      .signup-form-wrapper {
        width: 21.5rem;
        height: 14.7rem;

        .select-plan-img {
          width: 17.5rem;
          height: 10.3rem;
        }
      }

      .plans-img {
        width: 25rem;
        height: 14.7rem;
      }

      .box-imgs {
        width: 17rem;
        height: 15.4rem;
      }

      &--text {
        font-size: 1.3rem;
        margin-top: 1.6rem;
      }
    }
  }
}
