@import "../../../styles/variables";
@import "../../../styles/mixins";

.play-btn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.8;
  }

  @include respond(phone) {
    p {
      font-size: 1.2rem;
    }
  }

  .play-icon {
    margin-right: 0.6rem;
    width: 2rem;
    height: 2rem;
    @include respond(phone) {
      width: auto;
      height: auto;
    }
  }
}
