@import "../../../styles/variables";
@import "../../../styles/mixins";

.features {
  margin-bottom: 8.8rem;

  .feature {
    max-width: 34.8rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--img {
      width: 20.7rem;
      height: 21.1rem;
    }

    &--text-box {
      margin-top: 2.6rem;
    }

    &--text-main {
      text-align: center;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: pre-line;
    }

    &--text {
      text-align: center;
      margin-top: 2.6rem;
      font-size: 1.4rem;
    }
  }
}

@include respond(tab-land) {
  .features {
    .feature {
      max-width: 100%;
      margin: auto;

      &--img {
        width: 19rem;
        height: 19.4rem;
      }

      &--text-box {
        margin-top: 2.8rem;
      }

      &--text-main {
        text-align: center;
        font-size: 2.6rem;
      }

      &--text {
        margin-top: 2.2rem;
        font-size: 1.2rem;
      }
    }
  }
}

//phone
@include respond(phone) {
  .features {
    margin-bottom: 0;

    .feature {
      margin-bottom: 4.3rem;

      &--text-box {
        margin-top: 1.5rem;
      }

      &--text-main {
        height: auto;
      }

      &--text {
        margin-top: 1.5rem;
      }
    }
  }
}
