@import "../../../styles/variables";
@import "../../../styles/mixins";

.login-form {
  max-width: 56rem;
  width: 100%;

  @include respond(phone) {
    margin: auto;
  }

  .input-wrapper {
    margin-bottom: 1rem;


    .input-field {
      margin-bottom: 0.6rem;

      input {
        height: 6rem;
        border-width: 0.2rem;
      }

      .helper-text {
        font-size: 1.6rem;
      }

      @include respond(phone) {
        label {
          font-size: 1.1rem;
        }
      }
    }
  }

  .form-wrapper--btn {
    margin-top: 2.6rem;

    button {
      width: 100%;
      font-size: 2rem;
      font-weight: 700;
      height: 6rem;
    }

    @include respond(tab-land) {

    }
    @include respond(phone) {
      button {
        font-size: 1.2rem;
      }
    }
  }

  .login-form-terms-conditions {
    color: $indigo_2;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.2rem;

    a {
      color: $os_blue;
    }
  }
}
