@import "../../../styles/variables";
@import "../../../styles/mixins";

.restaurants-and-bars {
  padding: 8.7rem 0 16.6rem 0;

  &--img-wrapper {
    position: relative;

    .restaurants-and-bars--bg-img {
      height: 64.3rem;
      max-width: 54rem;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: auto;
      position: relative;
      z-index: 2;
    }

    .restaurants-and-bars--img-bg-color {
      position: absolute;
      top: 6.9rem;
      left: 1rem;
      width: 53.5rem;
      height: 63rem;
      background-color: #FEECD1;

      .circle-green {
        width: 29rem;
        height: 29rem;
        position: absolute;
        top: 0;
        left: 0;
      }

      .circle-simple {
        width: 26rem;
        height: 26rem;
        position: absolute;
        bottom: -3rem;
        left: -8rem;
        z-index: 2;
      }

      .restaurants-and-bars-dots {
        width: 3.6rem;
        height: 19rem;
        position: absolute;
        bottom: -3.6rem;
        right: 4.6rem;
      }

    }
  }

  &--text-box {
    max-width: 59rem;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  &--title {

  }

  &--text {
    font-size: 1.9rem;
    margin: 2.2rem 0 3rem 0;
  }

  //&--form-wrapper {
  //  display: flex;
  //  align-items: center;
  //
  //  .input-field {
  //    input {
  //      height: 5.6rem;
  //      border-radius: 0.4rem;
  //      border: 0.3rem solid $indigo_5;
  //
  //      &::placeholder {
  //        font-size: 1.4rem;
  //        color: $indigo_5;
  //        font-weight: 300;
  //      }
  //    }
  //  }
  //
  //  .restaurants-and-bars--submit-btn {
  //    height: 5.6rem;
  //    width: 14.9rem;
  //    font-size: 1.5rem;
  //    font-weight: 700;
  //    margin-left: 1.6rem;
  //  }
  //}

  &--action-btns {
    display: flex;
    align-items: center;
  }

  &--btn {
    width: 25.1rem;
    height: 6.1rem;
    margin-right: 2.4rem;
  }

  .play-btn {
    .play-icon {
      width: 1.1rem;
      height: 1.4rem;
    }
  }

  &--btn-text {
    color: $blue_2;
    font-weight: 500;
    font-size: 1.9rem;
  }

}

@include respond(tab-land) {
  .restaurants-and-bars {
    padding: 6.7rem 0 13.6rem 0;

    &--img-wrapper {
      .restaurants-and-bars--bg-img {
        height: 43.9rem;
        max-width: 36.3rem;
        @media(min-width: 769px) and (max-width: 1200px) {
          height: 41rem;
          max-width: 32rem;
        }
      }

      .restaurants-and-bars--img-bg-color {
        top: 4.7rem;
        left: 4.3rem;
        width: 36.5rem;
        height: 42.9rem;
        @media(min-width: 769px) and (max-width: 1200px) {
          left: 1.3rem;
          width: 33rem;
          height: 41rem;
        }

        @media (min-width: 900px) and (max-width: 1200px) {
          left: 8.3rem;
        }

        .circle-green {
          width: 19rem;
          height: 19rem;
        }

        .circle-simple {
          width: 18rem;
          height: 18rem;
        }

        .restaurants-and-bars-dots {
          width: 2.4rem;
          height: 13rem;
          bottom: -2.4rem;
          right: 1.6rem;
        }

      }
    }

    &--text-box {
      max-width: 50rem;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    &--title {
      font-size: 4.5rem;
    }

    &--text {
      font-size: 1.7rem;
      margin: 1.7rem 0 3.1rem 0;
    }

    &--form-wrapper {
      display: flex;
      align-items: center;

      .input-field {
        input {
          height: 5.6rem;
          border-radius: 0.4rem;
          border: 0.3rem solid $indigo_5;

          &::placeholder {
            font-size: 1.4rem;
            color: $indigo_5;
            font-weight: 300;
          }
        }
      }

      .restaurants-and-bars--submit-btn {
        height: 5.6rem;
        width: 14.9rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 1.6rem;
      }
    }

  }
}

////Mobile
@media (max-width: 767px) {
  .restaurants-and-bars {
    padding: 5.4rem 0 12.1rem 0;

    .restaurants-and-bars--bg-img {
      height: 25rem;
      max-width: 20rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .restaurants-and-bars--img-bg-color {
      position: absolute;
      width: 18.2rem;
      height: 21.5rem;
      left: 50%;
      top: 6.1rem;
      transform: translate(calc(-50% - 34px), 0);

      .circle-green {
        width: 9.9rem;
        height: 9.9rem;
        position: absolute;
        top: 0;
        left: 0;
      }

      .circle-simple {
        width: 9.6rem;
        height: 9.6rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      .restaurants-and-bars-dots {
        width: 1.2rem;
        height: 6.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &--text-box {
      max-width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
    }

    &--title {
      margin-bottom: 2.3rem;
      text-align: center;
      font-size: 2.5rem;
    }

    &--text {
      font-size: 1.2rem;
      margin: 5.5rem auto 2.4rem auto;
      max-width: 28rem;
      text-align: center;
    }

    &--action-btns {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &--btn {
      width: 23.2rem;
      height: 5rem;
      margin-right: 0;
      font-weight: 700;
      font-size: 1.3rem;
    }

    .play-btn {
      margin-top: 1.6rem;

      .play-icon {
        width: 1.1rem;
        height: 1.4rem;
      }
    }

    &--btn-text {
      color: $blue_2;
      font-weight: 500;
      font-size: 1.3rem !important;
    }

  }
}

.restaurant-and-bars--hide-on-tablet {
  display: none;
}

.restaurant-and-bars--hide-on-mobile {
  display: flex;
}

@media(max-width: 768px) {
  .restaurant-and-bars--hide-on-mobile {
    display: none;
  }

  .restaurant-and-bars--hide-on-tablet {
    display: block;
  }

}
