@import "../../../styles/variables";
@import "../../../styles/mixins";

.what-our-partner-says-component {
  margin: 12.8rem 0 13.4rem 0;
  padding: 6rem 0;

  &.merigold-bg {
    background: $merigold_4;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  }

  &--text-box {

  }

  &--main-text {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 3.3rem;
  }

  &--text {
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 2.2rem;
  }

  &--text-bold {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 3.3rem;
  }

  &--percentage-text {
    display: flex;
  }

  &--percent-single {
    max-width: 15rem;
    margin-right: 7.8rem;

    &:last-child {
      margin-right: 0;
    }

    .percent-single--text-main {
      font-size: 4.5rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
    }

    .percent-single--text {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  .person-img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .person-img-wrapper {
      width: 40rem;
      height: 40rem;
      overflow: hidden;
    }
  }

}

@include respond(tab-land) {
  .what-our-partner-says-component {
    background: $merigold_4;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    margin: 25rem 0 14.5rem 0;

    &--text-box {

    }

    &--main-text {
      margin-bottom: 2.3rem;
    }

    &--text {
      font-size: 1.5rem;
      margin-bottom: 1.1rem;
    }

    &--text-bold {
      font-size: 1.5rem;
      margin-bottom: 3.8rem;
    }

    &--percent-single {
      max-width: 15rem;
      margin-right: 7.8rem;

      .percent-single--text {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }

    .person-img-container {
      .person-img-wrapper {
        width: 36rem;
        height: 36rem;
      }
    }

  }

}

//Phone
@include respond(phone) {
  .what-our-partner-says-component {
    background: transparent;
    box-shadow: none;
    margin: 11.4rem 0 13.4rem 0;
    padding: 0;

    &--text-box {

    }

    &--main-text {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    &--text {
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
      margin-top: 1.4rem;
    }

    &--text-bold {
      font-size: 1.3rem;
      margin-bottom: 7.3rem;
    }

    &--percentage-text {
      display: flex;
      justify-content: space-around;
    }

    &--percent-single {
      max-width: 12rem;
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }

      .percent-single--text-main {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .percent-single--text {
        font-size: 1.2rem;
      }
    }

    .person-img-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .person-img-wrapper {
        width: 17.5rem;
        height: 17.5rem;
      }
    }

  }
}
