.not-found-page {
  .not-fount-page-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 991px) {
      height: calc(100vh - 7.7rem);
    }
    @media screen and (max-width: 990px) {
      height: calc(100vh - 6rem);
    }

    img {
      width: 489.6px;
    }
    @media screen and (max-width: 719px) {
      img {
        width: 351.2px;
      }
    }

    p.main-text {
      width: 100%;
      color: #898a8d;
      letter-spacing: 0.05px;
      font-size: 30px;
      margin-top: 35.5px;
      margin-bottom: 0;
      font-weight: bold;
      @media screen and (max-width: 719px) {
        margin-top: 44px;
      }
    }

    p.description-text {
      margin-bottom: 0;
      margin-top: 17px;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.19px;
      color: #898a8d;
    }

    a.go-home {
      max-width: 468px;
      width: 100%;
      border-radius: 20px;
      height: 52px;
      line-height: 52px;
      display: inline-block;
      background-color: #2f47ff;
      margin-top: 44px;
      margin-bottom: 120px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
