*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.async-hide {
  opacity: 0 !important;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 62.5%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 62.5%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 62.5%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}

//::selection {
//  background-color: $color-primary;
//  color: $color-white;
//}

//Responsive utilities
.hide-on-mobile {
  @media (max-width: 991px) {
    display: none !important;
  }
}

.hide-on-tablet {
  @media (min-width: 992px) {
    display: none !important;
  }
}
