// MEDIA QUERY MANAGER
/*
0 - 575:      Phone
600 - 900px:    Tablet portrait
900 - 1199px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 61.9em) {
      @content
    }; // 575px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 61.9em) {
      @content
    }; //950px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 74.95em) {
      @content
    }; //1199px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    }; //1800
  }
}

