//Spacing
//bottom
.bm-1 {
  margin-bottom: 0.5rem !important;
}

.bm-2 {
  margin-bottom: 0.8rem !important;
}

.bm-3 {
  margin-bottom: 1rem !important;
}

.bm-4 {
  margin-bottom: 1.2rem !important;
}

.bm-5 {
  margin-bottom: 1.6rem !important;
}

.bm-6 {
  margin-bottom: 2rem !important;
}

.bm-7 {
  margin-bottom: 2.5rem !important;
}

.rm-6 {
  margin-right: 2rem !important;
}

.rm-7 {
  margin-right: 2.5rem !important;
}

//Top
.tm-1 {
  margin-top: 0.5rem !important;
}

.tm-2 {
  margin-top: 0.8rem !important;
}

.tm-3 {
  margin-top: 1rem !important;
}

.tm-4 {
  margin-top: 1.2rem !important;
}

.tm-5 {
  margin-top: 1.6rem !important;
}

.tm-6 {
  margin-top: 2rem !important;
}

.tm-7 {
  margin-top: 2.5rem !important;
}

//Left
.lm-1 {
  margin-left: 0.5rem !important;
}

.lm-2 {
  margin-left: 0.8rem !important;
}

.lm-3 {
  margin-left: 1rem !important;
}

.lm-4 {
  margin-left: 1.2rem !important;
}

.lm-5 {
  margin-left: 1.6rem !important;
}

.lm-6 {
  margin-left: 2rem !important;
}

.lm-7 {
  margin-left: 2.5rem !important;
}


//right
.rm-1 {
  margin-right: 0.5rem !important;
}

.rm-2 {
  margin-right: 0.8rem !important;
}

.rm-3 {
  margin-right: 1rem !important;
}

.rm-4 {
  margin-right: 1.2rem !important;
}

.rm-5 {
  margin-right: 1.6rem !important;
}

.rm-6 {
  margin-right: 2rem !important;
}

.rm-7 {
  margin-right: 2.5rem !important;
}
