@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "typography";
@import "mixins";

.async-hide {
  opacity: 0 !important;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85) !important;
}

@import "base";
@import "components";
@import "./404";
