@import "../styles/mixins";

.is-header-fixed {
  padding-top: 7.7rem;
  .navbar {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  }
  @media only screen and (max-width: 61.9em) {
    padding-top: 6rem;

    .hamburger-menu {
      position: fixed;
    }
  }
}

.home-page,
.menu-preview,
.blogs,
.blog,
.faqs-page,
.small-sized-businesses-page,
.multi-vendor-page,
.category-blogs-page,
.not-found-page {
  .container {
    @media (min-width: 1200px) {
      max-width: 127.9rem;
    }
  }
}

.not-found-page {
  .navbar {
    background-color: #fff;
  }
}

@include respond(tab-land) {
  .home-page,
  .menu-preview,
  .blogs,
  .blog,
  .faqs-page,
  .small-sized-businesses-page,
  .multi-vendor-page,
  .category-blogs-page,
  .not-found-page {
    .container {
      max-width: 96rem;
    }
  }
}

.blog,
.faqs-page {
  .navbar {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }
}

//Blogs page styling
.blogs {
  .navbar {
    background: #fff;
  }
}

//FAQS page styling
.faqs-page {
  .navbar {
    background: #fff;
  }

  .page-header {
    height: 51.3rem;
    @include respond(phone) {
      height: 26.4rem;
    }

    &:before {
      background: rgba(148, 148, 148, 0.2);
      display: none;
    }
  }
}

//small-medium-sized-businesses Page styling
.small-sized-businesses-page,
.multi-vendor-page,
.not-found-page {
  .navbar {
    position: relative;
  }
}
