//fonts
$ubuntu: "Ubuntu", sans-serif;
$lato: "Lato", sans-serif;
//colors
$black: #000;
$black_2: #323232;
$white: #fff;
$os_blue: #2f47ff;
$blue_2: #5b60fd;
$headline_indigo: #0e0e2c;
$indigo_2: #2c2c46;
$indigo_3: #68687b;
$indigo_4: #a5a5b0;
$indigo_5: #e1e1e5;
$cantaloupe_1: #f6dece;
$cantaloupe_2: #ebb18c;
$cantaloupe_3: #e9c5b0;
$cantaloupe_4: #feeed7;
$tertiary_cantaloupe: #e8a67c;
$secondary_brand_merigold: #ffb61d;
$merigold_2: #ffbf39;
$merigold_4: #ffe4aa;
$success_evergreen: #15e2b0;
$evergreen_3: #8af0d7;
$candy_2: #eb6248;
$candy_4: #f6bcb1;
$slate_gray: #cacfd5;
$silver: #c4c4c4;
$light_steel_blue_5: #fdfdfd;
$cornsilk_2: #feeed7;
$cornsilk_4: #fffaf4;
