div.privacy-policy-page {
  padding-top: 7.7rem;
  @media only screen and (max-width: 61.9em) {
    padding-top: 6rem;
  }

  div.content-wrapper {
    padding: 7.5rem 0 15.5rem;

    @media screen and (max-width: 767px) {
      padding: 2.4rem 1.2rem 4.6rem;
    }
  }

  h1.heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.04;
    letter-spacing: 0.03px;
    text-align: left;
    color: #2f47ff;
  }

  div.w-richtext {
    margin-top: 3.4rem;
    p {
      margin-bottom: 2.8rem;
    }
  }
}
