div.terms-of-use-page {
  div.content-wrapper {
    padding: 7.5rem 0 15.5rem;

    @media screen and (max-width: 767px) {
      padding: 2.4rem 1.2rem 4.6rem;
    }
  }

  h1.heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.04;
    letter-spacing: 0.03px;
    text-align: left;
    color: #2f47ff;
    margin-bottom: 2rem;
    display: block;
  }

  div.w-richtext {
    margin-top: 3.4rem;
    ol.main-ol {
      & > li {
        margin-bottom: 3.2rem;
        strong.title {
          margin-bottom: 1.6rem;
          display: block;
          font-size: 2rem;
        }
        ol > li {
          margin-bottom: 1.8rem;
        }
      }
    }
    // p {
    //   margin-bottom: 2.8rem;
    // }
  }
}
