@import "../../../styles/variables";
@import "../../../styles/mixins";

.faqs-tabs-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.4rem;

  .navigation-link {
    display: inline-block;
    font-size: 1.2rem;
    color: $white;
    background-color: #5667FF;
    border-radius: 0.4rem;
    margin-bottom: 0.9rem;
    min-height: 3.8rem;
    max-width: 28.7rem;
    width: 100%;
    font-weight: 700;
    text-align: center;
    padding: 1.1rem 0;
    text-decoration: none;
    letter-spacing: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#5667FF, 10%);
    }

    &:active {
      background-color: #5667FF;
    }

    &:last-child {
      margin: 0;
    }
  }
}
