@import "../../../styles/variables";
@import "../../../styles/mixins";

.faq-single-collapse {
  margin-bottom: 9rem;
  @include respond(phone) {
    margin-bottom: 4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .blue-icon-img {
      width: 1.9rem;
      height: 3.3rem;
      transform: rotate(180deg);
      @include respond(phone) {
        width: 1.2rem;
        height: 2.2rem;
      }

      &.rotated-arrow {
        transform: rotate(0);
      }
    }

    &:focus {
      outline: none;
    }
  }

  &--title {
    margin-right: 1.2rem;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &--content {
    margin-bottom: 1.4rem;
    margin-top: 2rem;
    @include respond(phone) {
      p {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
        margin-top: 1rem;
      }
    }
  }
}
