@import "../../../styles/variables";
@import "../../../styles/mixins";

.faqs-search-result {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include respond(phone) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .faq-single-collapse {
    margin-bottom: 3rem;
  }

  &--text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #68687b;
    line-height: 2.7rem;
    margin-bottom: 2rem
  }

  &--text-bold {
    font-size: 2.2rem
  }
}

.not-search-match-component {
  padding: 10rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    padding: 6rem 0 3rem 0;
  }

  &--img-wrapper {
    width: 17.6rem;
    height: 166rem;
    @include respond(phone) {
      width: 14.6rem;
      height: 13.6rem;
    }
  }

  &--text {
    font-size: 24px;
    font-weight: 500;
    margin-top: 4.5rem;
    color: #a5a5b0;
    @include respond(phone) {
      font-size: 18px;
      margin-top: 2.5rem;
    }
  }
}
