@import "../../../styles/variables";
@import "../../../styles/mixins";

.faq-tab-content {
  .faq-single {
    margin-bottom: 18em;
    @include respond(phone) {
      margin-bottom: 7.8rem !important;
    }

    &--title {
      font-size: 2.4rem;
      margin-bottom: 5.8rem;
      @include respond(phone) {
        font-size: 1.5rem;
        margin-bottom: 2.8rem;
      }

      display: inline-block;
      position: relative;
      padding: 0 0.3rem;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1.1rem;
        width: 100%;
        background-color: $cantaloupe_4;
        z-index: -1;
      }
    }
  }
}
