@import "../../../styles/variables";
@import "../../../styles/mixins";

.faqs-tabs {
  position: sticky;
  top: 12rem;

  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $indigo_5;
    border-radius: 2rem;
  }

  .MuiTabs-root {
    min-height: auto;

    .MuiTabs-flexContainer {
      align-items: flex-start;
      padding-left: 3.2rem;
    }

    button {
      padding: 0 0 0 0;
      min-width: auto;
      max-width: 100%;
      font-family: $lato !important;
      min-height: auto;
      font-weight: 700;
      text-align: left;
      font-size: 1.5rem;
      color: $indigo_3;
      opacity: 1;
      margin-bottom: 5rem;

      a {
        color: $indigo_3;
        text-decoration: none;
        padding: 0.6rem 0 0.6rem 0;

        &:first-child {
          padding: 0 0 1.2rem 0;
        }

        &:last-child {
          margin-bottom: 0;
          padding: 1.2rem 0 0 0;
        }
      }

      &.Mui-selected {
        color: $os_blue;

        a {
          color: $os_blue;
        }
      }

      &:focus {
        outline: none;
      }

      &:first-child {
        padding: 0 0 0 0;
      }

      &:last-child {
        margin-bottom: 0;
        padding: 0 0 0 0;
      }
    }
  }

  span.MuiTabs-indicator {
    left: 0;
    right: auto;
    background-color: $os_blue;
    width: 1rem;
    border-radius: 2rem;
  }
}
