@import "../../../styles/variables";
@import "../../../styles/mixins";

.header-text--box {
  position: absolute;
  top: 13.5rem;
  @include respond(phone) {
    top: 7.1rem;
    padding-right: 2rem;
  }

  &--text-small {
    font-size: 1.8rem !important;
    font-weight: 500;
    max-width: 80rem;
    margin-bottom: 2.2rem;
    @include respond(phone) {
      font-size: 1.2rem !important;
      margin-bottom: 1.2rem;
    }
  }

  &--text-medium {
    font-size: 6rem;
    font-weight: 700;
    color: $indigo_2;
    margin-bottom: 2.2rem;
    @include respond(phone) {
      font-size: 2.5rem !important;
      margin-bottom: 0.7rem;
    }
  }
}
