@import "../../../styles/variables";
@import "../../../styles/mixins";

.question-section {
  margin: 24.7rem 0 14.5rem 0;
  @include respond(phone) {
    margin: 5.7rem 0 12.7rem 0;
  }

  .container {
    //background-color: $cantaloupe_1;
    //padding: 4.9rem 24.2rem 4rem 7.2rem;
    position: relative;
    @include respond(tab-land) {
      padding: 4.9rem 7.2rem 4rem 7.2rem;
    }
    @include respond(phone) {
      background-color: transparent;
      padding: 0 15px;
    }
  }

  &--top-dots {
    position: absolute;
    top: -14rem;
    left: 0;
    width: 22.5rem;
    height: 22.5rem;
    @include respond(phone) {
      right: 2rem;
      top: -5rem;
      left: auto;
      width: 9.6rem;
      height: 9.6rem;
    }
  }

  &--bottom-dots {
    position: absolute;
    bottom: -7.2rem;
    right: 0;
    width: 18.8rem;
    height: 18.8rem;
    @include respond(phone) {
      left: 2rem;
      bottom: 0;
      right: auto;
      width: 9.6rem;
      height: 9.6rem;
    }
  }

  .faq-section-form {
    position: relative;
    z-index: 1;
    max-width: 90rem;
    margin: auto;

    &--main-text {
      margin-bottom: 1.3rem;
      max-width: 58.6rem;
      @include respond(phone) {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }
    }

    &--sub-text {
      margin-bottom: 3.5rem;
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    .input-field {
      display: flex;
      align-items: center;
      margin-bottom: 1.4rem;
      position: relative;

      label {
        color: $indigo_2;
        font-weight: 700;
        font-size: 2rem;
        min-width: 12rem;
        @include respond(phone) {
          display: none;
        }
      }

      input {
        border: 1.5px solid $blue_2;
        padding: 1.7rem 2rem;
        height: 5.7rem;
        font-size: 1.8rem;

        &::placeholder {
          font-size: 1.8rem;
          color: #A5A5B0;
        }

        @include respond(phone) {
          padding: 1.2rem 0.8rem;
          height: 5rem;
          font-size: 1.2rem;
          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }

      .helper-text {
        position: absolute;
        bottom: -1.3rem;
        left: 11.9rem;
        display: none;
      }

    }

    .question-section--btn {
      padding-left: 11.9rem;
      margin-top: 2.1rem;

      button {
        width: 100%;
        height: 6.5rem;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 0.8rem;
      }

      @include respond(phone) {
        padding: 0;
        margin-top: 1.4rem;
        button {
          height: 5rem;
          font-size: 1.3rem;
          border-radius: 0.4rem;
        }
      }

    }

  }
}
