@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-input-form {
  display: flex;

  .input-wrapper {
    flex: 1;
    position: relative;

    &--search-icon {
      position: absolute;
      //top: 50%;
      left: 1.1rem;
      top: 1rem;
      //transform: translateY(-50%);
      width: 3.2rem;
      height: 3.2rem;
      @include respond(phone) {
        width: 1.7rem;
        height: 1.7rem;
        top: 1.2rem;
      }
    }

    label {
      display: none;
    }

    .input-field {
      margin: 0;

      input {
        border-radius: 0.4rem;
        border: 0.2rem solid $slate_gray;
        height: 5.1rem;
        padding-left: 5.5rem;
        font-size: 1.6rem;

        &::placeholder {
          color: $indigo_5;
          font-size: 1.8rem;
        }

        @include respond(phone) {
          height: 4.2rem;
          padding-left: 4rem;
          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }
    }

  }

  .search-input--btn {
    margin-left: 1.9rem;
    width: 13.4rem !important;
    height: 5.1rem;
    font-size: 1.6rem;
    font-weight: 700;
    filter: drop-shadow(0px 0px 0.8rem rgba(0, 0, 0, 0.2));
    @include respond(phone) {
      width: 7.5rem !important;
      height: 4.2rem;
      font-size: 1.1rem;
      margin-left: 0.8rem;

    }
  }

}
