@import "../../../styles/variables";
@import "../../../styles/mixins";

.info-block {
  height: 19.2rem;
  width: 91.7rem;
  border-radius: 1.5rem;
  background-color: $cantaloupe_2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 4.9rem 4.1rem;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 1.5rem;
  transform: translateY(-50%);

  @include respond(tab-land) {
    height: 15.7rem;
    width: 64.5rem;
    padding: 3.9rem 2.3rem;
  }

  &--text {
    position: relative;
    z-index: 1;
    @include respond(tab-land) {
      font-size: 3.5rem;
      &.small-text {
        font-size: 1.8rem;
      }
    }
  }

  @include respond(phone) {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 7.7rem;
    padding: 1.1rem 0;
    border-radius: 0;
    transform: translateY(0);

    &--text {
      font-size: 1.8rem;
      text-align: center;

      &.small-text {
        font-size: 1.2rem;
        max-width: 26.2rem;
        margin: auto;
        margin-top: 0.3rem;
      }

    }
  }

  .info-block-img1 {
    width: 18.5rem;
    height: 19.7rem;
    position: absolute;
    top: -7.4rem;
    left: 1.1rem;
    @include respond(tab-land) {
      width: 13.6rem;
      height: 14.5rem;
    }
    @include respond(phone) {
      width: 9.2rem;
      height: 9.2rem;
      top: -4.4rem;
    }
  }

  .info-block-img2 {
    width: 16.582rem;
    height: 16.583rem;
    position: absolute;
    top: 4.3rem;
    right: -0.3rem;
    @include respond(tab-land) {
      width: 14.3rem;
      height: 14.3rem;
    }
    @include respond(phone) {
      width: 9.2rem;
      height: 9.2rem;
    }
  }

}
