@import "../../../styles/variables";
@import "../../../styles/mixins";

.store-creation-loading-screen {

  &--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24rem;
    @include respond(phone) {
      margin-top: 18rem;
    }

    .store-creation--loader {
      max-width: 30rem;
      width: 100%;
      margin-top: 10rem;

      .progress {
        width: 254px;
        height: 101px;
        margin: auto;
        border: 1.5rem solid $indigo_2;
        border-radius: 1.5rem;
        background-color: #0373d3;
        transition: color 0.3s ease-in-out;

        &.green-bg {
          background-color: #039b6b;
        }

        .progress-bar {
          &.progress-bar-striped {
            background-image: linear-gradient(45deg, rgba(#9fb3fa, 1) 25%, transparent 25%, transparent 50%, rgba(#9fb3fa, 1) 50%, rgba(#9fb3fa, 1) 75%, transparent 75%, transparent);
            background-size: 3rem 3rem;
          }
        }
      }
    }

    .store-loading-loader {
      border-radius: 1.5rem;
      @include respond(phone) {
        width: 19rem;
        height: 8rem;
      }
    }
  }

  .store-creation-loading-screen--title {
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &--text-box {
    margin-top: 6rem;
    padding: 0 15px;
    @include respond(phone) {
      margin-top: 3rem;
    }
  }

  &--benefits {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
    }
  }

  &--benefit {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    @include respond(phone) {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }

    &:first-child {
      margin-left: 0;
    }

    .tickIcon {
      margin-right: 0.6rem;
      @include respond(phone) {
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    .benefit--text {
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
}
