@import "../../../styles/variables";
@import "../../../styles/mixins";

.signup-features {
  margin-bottom: 2.7rem;

  @include respond(tab-land) {
  }
  @include respond(phone) {
    margin-bottom: 1.8rem;
  }

  &--text-box {
  }

  &--title {
    font-size: 4.5rem;
    color: $indigo-2;
    font-weight: 700;
    margin-bottom: 1.3rem;
    text-align: center;
    @include respond(phone) {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  &--features {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--feature {
    display: flex;
    align-items: center;
  }

  &--dot {
    width: 1.2rem;
    height: 1.2rem;
    @include respond(phone) {
      width: 0.6rem;
      height: 0.6rem;
    }
    background-color: $indigo-2;
    border-radius: 50%;
    margin-right: 0.7rem;
  }

  &--text {
    font-size: 1.8rem;
    color: $indigo-2;
    font-weight: 700;
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}
