@import "../../../styles/variables";
@import "../../../styles/mixins";

.signup-form {
  background-color: $white;
  padding: 7.8rem 5.2rem;
  width: 70.3rem;
  height: auto;
  position: relative;

  &--main-text {
    font-size: 2.9rem;
    margin-bottom: 1.2rem;
  }

  &--sub-text {
    margin-bottom: 1.2rem;

  }

  &--form {
    margin-top: 3.6rem;
    padding: 0 0.7rem;
  }

  &--input-wrapper {
    margin-bottom: 1.6rem;

    .input-field {
      margin-bottom: 0.6rem;

      label {
        position: relative;
        font-size: 1.8rem;
        font-weight: 500;
        color: $indigo_2;
        margin-bottom: 0.9rem;

        &:before {
          content: "*";
          position: absolute;
          top: 0.1rem;
          right: -0.6rem;
          color: #ff5a5a;
        }
      }

      input {
        border: 0.2rem solid $os_blue;
        height: 6rem;
      }

    }

    &.os-domain-input {
      position: relative;

      .base-url--text-box {
        background-color: rgba(#5B60FD, 0.15);
        width: 27rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 3.2rem;
        left: 0;
        height: 6rem;
        border-radius: 0.4rem 0 0 0.4rem;
      }

      input {
        padding-left: 27.7rem;
        padding-right: 6rem;
      }

      &.error {
        input {
          color: #E84C2E;
        }
      }

      .available-unavailable-img-wrapper {
        position: absolute;
        top: 4.972rem;
        right: 2rem;

        .tick-icon {
          width: 3.51rem;
          height: 2.183rem;
        }

        .cross-icon {
          width: 2.847rem;
          height: 2.655rem;
        }
      }

    }
  }

  &--checkbox {
    display: flex;
    align-items: center;
    margin-top: 3.7rem;
    margin-bottom: 2.8rem;

    .checkbox--links {
      color: $os_blue;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      border: none;
    }

    input {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1rem !important;
    }
  }

  .form-wrapper--btn {
    margin-top: 1.3rem;
    position: relative;
    z-index: 10;
  }

  .schedule-demo--text {
    text-decoration: underline;
    cursor: pointer;

    &:active {
      opacity: 0.8;
    }
  }

}

@include respond(phone) {
  .signup-form {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 6.5rem 3.4rem 3.4rem 3.4rem;
    max-width: 32rem;
    width: 100%;
    height: auto;

    &--main-text {
      font-size: 1.3rem !important;
      text-align: left !important;
      margin-bottom: 0.3rem !important;
    }

    &--sub-text {
      font-size: 1.1rem !important;
      text-align: left !important;
      font-weight: 300 !important;

      span {
        font-weight: 500 !important;
      }
    }

    &--form {
      margin-top: 1.2rem;
      padding: 0;
    }

    &--input-wrapper {
      margin-bottom: 0.6rem;

      .input-field {
        margin-bottom: 0.6rem;

        label {
          font-size: 1.1rem;
          margin-bottom: 0.4rem;
        }

        input {
          padding: 1.5rem 1.5rem 1.5rem 1.7rem;
          border: 0.2rem solid $os_blue;
          height: 4.2rem;

          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }

      &.os-domain-input {

        .signup-form-input-helper-text {
          font-size: 1rem;
        }

        .base-url--text-box {
          background-color: rgba(#5B60FD, 0.15);
          width: 8.6rem;
          top: 1.9rem;
          left: 0;
          height: 4.2rem;
          border-radius: 0.4rem 0 0 0.4rem;


          .base-url--mob-text {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }

        input {
          padding-left: 9.2rem;
          padding-right: 1.7rem;
        }

        &.error {
          input {
            color: #E84C2E;
          }
        }

        .available-unavailable-img-wrapper {
          position: absolute;
          top: 4.972rem;
          right: 2rem;

          .tick-icon {
            width: 3.51rem;
            height: 2.183rem;
          }

          .cross-icon {
            width: 2.847rem;
            height: 2.655rem;
          }
        }

      }
    }

    &--checkbox {
      margin-top: 1.7rem;
      margin-bottom: 1rem;

      .form-check-inline {
        margin-right: 0.4rem;
      }

      .signup-form--text {
        font-size: 1.1rem;
      }

      .checkbox--links {
        font-size: 1.1rem;
      }

      input {
        width: 1.6rem;
        height: 1.5rem;
        margin-right: 0.5rem !important;
      }
    }

    .form-wrapper--btn {
      margin-top: 0.9rem;

      button {
        width: 100% !important;
        height: 4.4rem !important;
        font-size: 1.2rem !important;
      }
    }

    .schedule-demo--text {
      font-size: 1.1rem;
      margin-top: 0.7rem !important;
    }

  }
}
