@import "../../styles/variables";
@import "../../styles/mixins";

.category-blogs-page {
  &--contennt-wrapper {
    padding-top: 9rem;
    padding-bottom: 9rem;
    @include respond(phone) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .row {
    @media (max-width: 600px) {
      margin: 0;
    }
  }
}
