@import "../../styles/variables";
@import "../../styles/mixins";

.content-wrapper {
  color: #2C2C46;

  p {
    margin-bottom: 3rem;
  }

  p,
  li {
    font-size: 1.8rem;
  }

  ol, ul {
    padding-left: 1.8rem;
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.87rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  h6 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  //blog-img
  .blog-img {
    max-width: 600px;
    height: auto;
    margin-bottom: 1.6rem;
  }

  @include respond(phone) {
    .blog-img {
      width: 100%
    }
    p {
      margin-bottom: 2.5rem;
    }

    p,
    li {
      font-size: 1.6rem;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 2.1rem;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }

    h4 {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    h5 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    h6 {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

  }


}
