@import "../../../styles/variables";
@import "../../../styles/mixins";

.launch-store-btn--wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 111;

  @include respond(phone) {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .launch-store-btn {
    background-color: $os_blue;
    padding: 2.1rem 2.4rem;
    height: 5.9rem;
    max-width: 29rem;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    position: relative;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));

    @include respond(phone) {
      height: 5.2rem;
      max-width: 17rem;
      padding: 2.1rem 2.2rem;
    }

    &--btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &--text {
      color: $white;
      font-size: 1.4rem;
      font-weight: 700;
      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 2.7rem;
      position: relative;
      z-index: 10;
      cursor: pointer;
      @include respond(phone) {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 1.4rem;
      }
    }
  }
}
