#alertDialogModal {
  .modal-header {
    border-bottom: 0;
  }
  .modal-body {
    padding: 0;
    text-align: center;
    p {
      margin: 0;
      padding: 0.5rem 0 2rem;
      font-size: 1.6rem;
    }
    button {
      width: 100%;
      border-radius: 0;
    }
  }
}
