@import "../../../styles/variables";
@import "../../../styles/mixins";

.blog-top {
  padding-top: 20.6rem;
  padding-bottom: 5.3rem;

  .container {
    position: relative;
  }

  .blog-top-text-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  .blog-bg-img {
    height: 61.3rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media(min-width: 951px) {
    .blog-top-mob-bg-color-box {
      background: none !important;
    }
  }

  &--text-box {
    margin-left: 6px;
  }

  &--title-box {
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;
  }

  .blog-top--sub-title {
    margin-bottom: 1rem;
  }

  .blog-top--date {
    margin-top: 0.9rem;
  }

  .excerpt-text-wrapper {
    max-width: 56.1rem;
    position: relative;
    z-index: 1;
  }

  &--social-wrapper {
    margin-top: 7.6rem;
  }
}

//Tablet
@include respond(tab-land) {
  .blog-top {
    padding-top: 12.8rem;
    padding-bottom: 9.9rem;

    .blog-top-text-wrapper {
      padding-top: 5rem;
    }

    .blog-top--sub-title {
      margin-bottom: 1rem;
      font-size: 3rem;
    }

    .blog-top--date {
      margin-top: 0.9rem;
      font-size: 1.8rem;
    }

    .excerpt-text-wrapper {
      max-width: 56.1rem;

      .blog-top--info-text {
        font-size: 2.5rem;
      }

    }

    &--social-wrapper {
      margin-top: 6.7rem;
    }
  }
}

//Phone
@include respond(phone) {
  .blog-top {
    padding-top: 6rem;
    padding-bottom: 2rem;

    .container {
      .row {
        flex-direction: column-reverse;

        .blog-top-text-wrapper {
          padding: 0;
        }
      }
    }


    .blog-top-mob-bg-color-box {
      background-color: #F6DECE;
      padding: 2.9rem 2rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 22.7rem;
      position: relative;

      .blog-bg-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(104, 104, 104, 0.5);
        backdrop-filter: blur(2px);
      }
    }

    .blog-bg-img {
      height: 20.7rem;
    }

    &--text-box {
      margin-left: 0;
      width: 100%;
    }

    &--title-box {
      margin-bottom: 1.6rem;
    }

    .blog-top--sub-title {
      font-size: 1.5rem;
      color: $cornsilk_4;
      margin-bottom: 0.5rem;
    }

    .blog-top--date {
      font-size: 1.2rem;
      color: #FDFDFD;
    }

    .excerpt-text-wrapper {
      max-width: 56.1rem;

      .blog-top--info-text {
        font-size: 1.2rem;
        color: #FDFDFD;

      }

    }

    &--social-wrapper {
      margin-top: 0;
      padding: 1.8rem 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}
