@import "../../../styles/variables";
@import "../../../styles/mixins";

.get-started-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $cornsilk_2;
  padding: 5.3rem 7.7rem 5.7rem 5.9rem;
  margin-top: 9.9rem;
  margin-bottom: 22.3rem;
  @include respond(tab-land) {
    padding: 5.6rem 6rem 5.6rem 6rem;
  }
  @include respond(phone) {
    padding: 3.1rem 1.7rem;
    flex-direction: column;
    margin-top: 6.3rem;
    margin-bottom: 12.6rem;
  }

  .get-started--text-box {
    .get-started--title {
      @include respond(tab-land) {
        font-size: 2.5rem;
      }
      @include respond(phone) {
        font-size: 2rem;
        text-align: center;
      }
    }

    .blue-text {
      color: $os_blue;
    }
  }

  .get-started--text {
    margin-top: 0.7rem;
    @include respond(phone) {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .os-btn {
    width: 19rem !important;
    height: 5.6rem !important;
    @include respond(phone) {
      margin-top: 2.1rem;
      width: 15.9rem !important;
      height: 4.3rem !important;
    }
  }
}
