@import "../../../styles/variables";
@import "../../../styles/mixins";

.colored-squares {
  width: 10.5rem;
  height: 10.8rem;
  position: absolute;
  right: 0;
  top: 0;
  @include respond(tab-land) {
    top: 5rem;
    right: 1.5rem;
  }
  @include respond(phone) {
    display: none;
  }

  .blue-square {
    width: 8.3rem;
    height: 8.3rem;
    background-color: $os_blue;
    position: absolute;
    right: 0;
  }

  .skin-square {
    width: 7.1rem;
    height: 7.2rem;
    background-color: rgba($tertiary_cantaloupe, 0.7);
    position: absolute;
    right: 3.4rem;
    top: 3.6rem;
  }
}
