@import "../../../styles/variables";
@import "../../../styles/mixins";

.weekly-tips {
  margin-top: 9.7rem;
  margin-bottom: 10.7rem;

  &--form-wrapper {
    background-color: $merigold_4;
    margin: 3.7rem 3rem 0 3rem;
    padding: 7.8rem 8rem 8rem 8.5rem;
    display: flex;
    align-items: center;
    height: 21.7rem;

    .input-field {
      margin: 0 2.4rem 0 0;

      label {
        display: none;
      }

      input {
        height: 5.7rem;
        border-width: 1.5px;
        font-size: 1.8rem;

        &::placeholder {
          color: #A5A5B0;
          font-size: 1.8rem;
        }
      }
    }

    .weekly-tips--btn {
      width: 19rem;
      height: 5.6rem;
    }

  }
}


//Tablet
@include respond(tab-land) {

}

//Phone
@include respond(phone) {
  .weekly-tips {
    margin-top: 2.8rem;

    p {
      font-size: 2rem;
      max-width: 27rem;
      margin: auto;
    }


    &--form-wrapper {
      padding: 2.8rem 1.9rem 2.8rem 1.5rem;
      display: block;
      height: auto;

      .os-btn {
        width: 100% !important;
        height: 4.3rem !important;
        margin-top: 1.4rem;
      }


      .input-field {
        input {
          height: 4.3rem;
        }
      }
    }
  }

}
