@import "../../../styles/variables";


.blog-posts{
  margin-top: 5.8rem;
}

.see-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -2.7rem;
  cursor: pointer;

  &--text {
    color: $os_blue;
    text-decoration: underline;
    font-size: 1.7rem;
  }
}
