@import "../../../styles/variables";
@import "../../../styles/mixins";

.all-blogs {
  padding-top: 8.9rem;
  margin-bottom: 8.9rem;
  @include respond(phone) {
    margin-bottom: 6.8rem;
    margin-top: 0;
    padding-top: 4.8rem;
  }
}
