@import "../../../styles/variables";
@import "../../../styles/mixins";


.blog-title-block--wrapper {
  @media(max-width: 600px) {
    padding: 0;
  }
}

.blog-title-box {
  min-height: 9.3rem;
  padding: 2rem 2rem 2rem 2.7rem;
  background: linear-gradient(89.9deg, rgba(232, 166, 124, 0.7) 48.61%, rgba(255, 240, 231, 0.7) 104.07%);
  margin-bottom: 4.8rem;
  @include respond(phone) {
    background: none !important;
    padding: 0 0 0.6rem 0;
    margin-bottom: 2.4rem;
    min-height: auto;
    border-bottom: 0.6rem solid $cantaloupe_2;

    &--main-text {
      font-size: 1.9rem !important;
    }
    &--sub-text {
      font-size: 1.1rem;
      max-width: 28rem;
    }

  }
}
