@import "../../../styles/variables";
@import "../../../styles/mixins";

.blog-single--text-box {
  position: relative;
  padding: 1.6rem 7rem 1.6rem 1.9rem;
  min-height: 16rem;
  @include respond(phone) {
    min-height: auto;
  }

  .text-wrapper {
    max-width: 43.1rem;
    margin-right: auto;

    .date-time-box {
      display: flex;
      align-items: center;
      @include respond(phone) {
        margin-top: 0.7rem;
      }

      &--text {
        font-size: 1.2rem;
        color: $indigo_3;
        font-weight: 700;
      }

      &--dot {
        width: 0.6rem;
        height: 0.6rem;
        background: $indigo_3;
        border-radius: 50%;
        margin: 0 0.7rem;
      }
    }
  }

  .blog-single--title {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 1.3rem;
    }
  }

  .blog-single--detail {
    font-size: 1.3rem;
    margin-top: 0.9rem;
    @include respond(phone) {
      display: none;
    }
  }

  .blog-single-btn {
    position: absolute;
    right: 2.6rem;
    bottom: 2.7rem;

    .blog-single--icon {
      width: 3.4rem;
      height: 2.6rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}


@include respond(tab-land) {
}

@include respond(phone) {

}
