@import "../../../styles/variables";
@import "../../../styles/mixins";

.blog-single--container {
  margin-bottom: 4rem;
  @include respond(phone) {
    margin-bottom: 3.6rem;
  }

  @media(max-width: 600px) {
    padding: 0;
  }

  .blog-single--wrapper {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    height: 100%;

    .blog-single--img-wrapper {

      .blog-single--img-box {
        width: 100%;
        height: 47rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: none;
        margin-bottom: 0;
        @include respond(tab-land) {
          height: 34.9rem;
        }
        @include respond(phone) {
          height: 17.9rem;
        }
      }
    }
  }
}


//Tablet
@include respond(tab-land) {
}

//Phone
@include respond(phone) {

}
