@import "../../../styles/variables";
@import "../../../styles/mixins";

//Desktop
.navbar {
  height: 7.7rem;
  display: flex;
  align-items: center;
  background-color: $cornsilk_4;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo-phone-wrapper {
    display: flex;
    align-items: center;

    .logo-horizontal {
      width: 12.7rem;
      height: 2.9rem;
    }

    .phone-wrapper {
      display: flex;
      align-items: center;
      margin-left: 5rem;

      .icon-phonenumber {
        margin-right: 0.6rem;

        .phoneIcon {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }

  .link-wrapper {
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
      padding-right: 13rem;
    }
  }

  .page-navigation-link {
    font-size: 1.6rem;
    color: $indigo_2;
    font-weight: 500;
    margin-right: 6rem;

    &.sign-in-link {
      margin-right: 2.7rem;
      background-color: transparent;
      border: none;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
      color: darken($indigo_2, 30%);
    }
  }
}

.link-with-dropdown {
  position: relative;

  &--title {
    font-size: 1.6rem;
    color: $indigo_2;
    font-weight: 500;
    margin-right: 6rem;
    cursor: pointer;
    padding-bottom: 0.9rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .dropdown {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: $white;
    padding: 5.3rem 4.5rem;
    z-index: 2;
    width: 26.3rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.4rem;

    .dropdown-navigation-link {
      font-size: 1.6rem;
      color: $headline_indigo;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      margin-bottom: 2.2rem;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.9rem;
        background-color: rgba($os_blue, 0.3);
        opacity: 0;
        transition: opacity 0.3s linear;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:hover {
    .dropdown {
      display: flex;
    }
  }
}

//Tablet
@include respond(tab-land) {
  .navbar {
    background-color: $cornsilk_4;

    .logo-phone-wrapper {
      .phone-wrapper {
        margin-left: 2.1rem;
      }

      .logo-horizontal {
        width: 10.9rem;
        height: 2.5rem;
      }
    }

    .page-navigation-link {
      &.sign-in-link {
        margin-right: 1.8rem;
      }
    }
  }

  .link-with-dropdown {
    &--title {
      margin-right: 5.2rem;
    }
  }
}

.hamburger-menu {
  display: none;
}

//Phone
@include respond(phone) {
  .navbar-drawer {
    .MuiBackdrop-root {
      background: rgba(155, 155, 155, 0.5);
    }

    .MuiPaper-root.MuiDrawer-paper {
      box-shadow: none;
      width: 24rem;
    }

    &--wrapper {
      padding-top: 8.3rem;

      .drawer-link-wrapper {
        padding: 1rem 1rem 1rem 2.7rem;
        margin-bottom: 0.5rem;

        .link-icon {
          display: flex;
          align-items: center;
          text-decoration: none;
          cursor: pointer;
          background-color: transparent;
          border: none;

          &:focus {
            outline: none;
          }

          .icon-img {
            margin-left: 1.1rem;
            margin-top: 0.6rem;
            width: 1.8rem;
            height: 2.2rem;
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;

            &.rotated-arrow {
              transform: rotate(180deg);
            }
          }
        }

        //  Links inside collapsible
        .drawer-link {
          font-size: 1.8rem;
          color: $indigo_3;
          font-weight: 500;
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          display: block;

          &:hover {
            text-decoration: none;
          }

          &:active {
            color: darken($indigo_3, 10%);
          }
        }
      }

      .navbar-drawer--phone-text {
        padding: 1rem 1rem 1rem 2.7rem;
      }
    }
  }

  .hamburger-menu {
    position: absolute;
    z-index: 1400;
    top: 2.2rem;
    right: 2.1rem;
    display: block;

    &--btn {
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    .hamburger-img {
      width: 2rem;
      height: 1.75rem;
      transform: rotate(0deg);
      transition: all 0.3s;

      &.rotated {
        transform: rotate(90deg);
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .navbar {
    background-color: $white;
    height: 6rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    padding: 2.1rem 2.1rem;
    position: relative;
    width: 100%;

    button#mobileGetStartedButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 8px 10px;
      background: #2f47ff;
      color: #fff;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      outline: 0;
    }

    .logo-horizontal {
      position: absolute;
      overflow: hidden;
      width: 30px;
      left: 2rem;
      top: 50%;
      transform: translate(0, -50%);

      img {
        width: 127px !important;
      }
    }
  }
}
