@import "../../../styles/variables";
@import "../../../styles/mixins";

.text-and-image-section-wrap {
  position: relative;

  &.image-first {
    flex-direction: row-reverse;
  }

  .slide-image-wrapper {
    @media screen and (max-width: 991px) {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;
      text-align: center;
    }
    @media screen and (min-width: 992px) {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: -1;
      &.is-image-first {
        left: 0;
      }
      &:not(.is-image-first) {
        right: 0;
      }
    }
  }
}

.text-and-images-section {
  padding: 18rem 0;

  &--text-wrapper {
    display: flex;
    align-items: center;
  }

  .text-image--text-box {
    .text-image--title {
      max-width: 40rem;
    }

    .text-image--text {
      font-size: 1.9rem;
      font-weight: 300;
      color: $indigo_3;
      margin-top: 2.4rem;
      max-width: 47rem;
    }

    .list-text-box {
      list-style: none;
      margin-top: 3.6rem;

      &--list-item {
        position: relative;
        padding-left: 1.8rem;
        font-size: 1.8rem;
        color: $indigo_2;
        font-weight: 500;
        margin-bottom: 2rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:before {
          content: "\2022";
          position: absolute;
          left: 0;
          top: -4px;
          color: $os_blue;
          font-weight: bold;
          font-size: 2.5rem;
          margin-left: 0;
        }
      }
    }
  }

  //  Absolutely positioned images passed as children
  // Small Sized Businesses pages
  .drive-sales--sub-img {
    width: 48.7rem;
    height: 16.7rem;
    position: absolute;
    left: -8rem;
    bottom: -11.8rem;
    z-index: 3;
  }

  .drive-sales--dots-1 {
    width: 27rem;
    height: 9rem;
    position: absolute;
    top: -3.2rem;
    right: 3.2rem;
    z-index: -1;
  }

  .drive-sales--dots-2 {
    width: 27rem;
    height: 9rem;
    position: absolute;
    bottom: -6.2rem;
    left: 29.8rem;
    z-index: -1;
  }

  .market-smarter--dots {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -5rem;
    left: 0;
  }

  .market-smarter--dots-2 {
    width: 16.8rem;
    height: 16.8rem;
    position: absolute;
    right: -5rem;
    bottom: -4rem;
    z-index: -1;
  }

  .market-smarter--sub-img {
    width: 44.4rem;
    height: 21.4rem;
    position: absolute;
    bottom: -8.5rem;
    right: -2rem;
  }

  .market-smarter--graph-img {
    display: none;
  }

  .build-customer--dots {
    width: 32.1rem;
    height: 16.2rem;
    position: absolute;
    right: 0;
    top: -7.7rem;
  }

  .build-customer--stars {
    width: 29.3rem;
    height: 10.5rem;
    position: absolute;
    left: -4.5rem;
    bottom: 13rem;
    z-index: 1;
  }

  .build-customer--graph {
    width: 34.2rem;
    height: 22.6rem;
    position: absolute;
    left: 4.5rem;
    bottom: -6rem;
  }
}

@include respond(tab-land) {
  .text-and-images-section {
    padding: 14rem 0;

    &.drive-sales-section,
    &.market-smarter-section {
      .text-and-images-section--text-wrapper {
        padding-right: 0;
      }
    }

    .text-image--text-box {
      .text-image--title {
        max-width: 36.5rem;
        font-size: 4rem;
      }

      .text-image--text {
        font-size: 1.5rem;
        margin-top: 2.1rem;
        max-width: 36.4rem;
      }

      .list-text-box {
        list-style: none;
        margin-top: 1.8rem;

        &--list-item {
          font-size: 1.4rem;

          &:before {
            width: 1.5rem;
          }
        }
      }
    }

    //  Absolutely positioned images passed as children
    // Small Sized Businesses pages
    .drive-sales--sub-img {
      width: 42.7rem;
      height: 14.7rem;
      left: -4rem;
      bottom: -11.8rem;
      z-index: 3;
    }

    .drive-sales--dots-1 {
      width: 19.4rem;
      height: 6.4rem;
      position: absolute;
      top: -3.6rem;
      right: 0;
      z-index: -1;
    }

    .drive-sales--dots-2 {
      width: 19.4rem;
      height: 6.4rem;
      position: absolute;
      bottom: -6.2rem;
      left: 26.8rem;
      z-index: -1;
    }

    .market-smarter--dots {
      display: none;
    }

    .market-smarter--dots-2 {
      display: none;
    }

    .market-smarter--sub-img {
      width: 33.3rem;
      height: 17.2rem;
      bottom: -6.2rem;
      right: -2rem;
    }

    .market-smarter--graph-img {
      display: block;
      width: 13rem;
      height: 6.1rem;
      bottom: -2rem;
      left: 0;
      position: absolute;
    }

    .build-customer--dots {
      width: 21.3rem;
      height: 10.7rem;
      right: 0;
      top: -5rem;
    }

    .build-customer--stars {
      width: 25.5rem;
      height: 8rem;
      left: -4.5rem;
      bottom: 5rem;
      z-index: 1;
    }

    .build-customer--graph {
      width: 26.1rem;
      height: 17.2rem;
      left: 5.5rem;
      bottom: -10rem;
    }
  }
}

//phone
@include respond(phone) {
  .text-and-images-section {
    padding: 2.2rem 0;

    &.drive-sales-section,
    &.market-smarter-section {
      .text-and-images-section--text-wrapper {
        padding-right: 15px;
      }
    }

    .text-image--text-box {
      // max-width: 33rem;
      margin: 1.7rem auto 0 auto;

      .text-image--title {
        max-width: 26.5rem;
        font-size: 2.5rem;
        text-align: center;
        margin: auto;
      }

      .text-image--text {
        font-size: 1.2rem;
        text-align: center;
        margin: 1.3rem auto 0;
        max-width: 30rem;
      }

      .list-text-box {
        list-style: none;
        margin-top: 1.7rem;
        margin-bottom: 0;
        max-width: 32rem;

        &--list-item {
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 1.6rem;
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }

    //  Absolutely positioned images
    .drive-sales--sub-img {
      display: none;
    }

    .drive-sales--dots-1 {
      width: 27rem;
      height: 9rem;
      position: absolute;
      top: -3.2rem;
      right: 3.2rem;
      z-index: -1;
    }

    .drive-sales--dots-2 {
      display: none;
    }

    .market-smarter--dots {
      display: none;
    }

    .market-smarter--dots-2 {
      display: none;
    }

    .market-smarter--sub-img {
      display: none;
    }

    .market-smarter--graph-img {
      bottom: -1rem;
    }

    .build-customer--dots {
      width: 10.2rem;
      height: 5.1rem;
      position: absolute;
      right: 0;
      top: -2.4rem;
    }

    .build-customer--stars {
      display: none;
    }

    .build-customer--graph {
      display: none;
    }
  }
}
