@import "../../../styles/variables";
@import "../../../styles/mixins";

.social-icons {
  display: flex;
  align-items: center;

  .social-icons--title {
    margin-right: 1.6rem;
  }

  .social-icon-wrapper {
    width: 4.4rem;
    height: 4.4rem;
    @include respond(phone) {
      width: 3.2rem;
      height: 3.2rem;
    }
    background-color: $indigo_2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    margin-right: 1.2rem;

    .fb-icon {
      width: 0.87rem;
      height: 1.6rem;
    }

    .insta-icon {
      width: 1.67rem;
      height: 1.67rem;
    }

    .linkedin-icon {
      width: 1.45rem;
      height: 1.3rem;
    }

    .twitter-icon {
      width: 1.67rem;
      height: 1.39rem;
    }
  }
}
