@import "../../../styles/variables";
@import "../../../styles/mixins";

.page-header {
  width: 100%;
  height: 69.6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @include respond(tab-land) {
    height: 48.1rem;
  }

  @include respond(phone) {
    height: 21.9rem;
  }

  .header-main-text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 67rem;
    @include respond(phone) {
      min-width: 31.9rem;
    }

    .header-main--title {
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 9rem;
      letter-spacing: 2.28rem;
      text-align: center;

      @include respond(phone) {
        font-size: 3rem;
        letter-spacing: 1.4rem;
      }

      &:before {
        content: "";
        position: absolute;
        top: -5rem;
        left: 49%;
        transform: translate(-50%, -50%);
        background-color: $white;
        width: 13.2rem;
        height: 0.8rem;
        @include respond(phone) {
          width: 3.8rem;
          height: 0.8rem;
          top: -1.7rem;
        }
      }
    }

    .hader-main--sub {
      font-size: 2.5rem;
      color: $white;
      margin-top: 2.5rem;
      @include respond(phone) {
        font-size: 1.2rem;
        margin-top: 1.9rem;
      }
    }
  }

  &--backdrop-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 95, 116, 0.4);
    backdrop-filter: blur(4px);
    @include respond(phone) {
      backdrop-filter: blur(3px);
    }
  }

  //&:before {
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: rgba(81, 95, 116, 0.4);
  //  backdrop-filter: blur(4px);
  //  @include respond(phone) {
  //    backdrop-filter: blur(3px);
  //  }
  //}
}

//Tablet
@include respond(tab-land) {
}

//Phone
@include respond(phone) {
  .page-header {
    height: 26.5rem;
    @media (min-width: 600px) {
      height: 35rem;
    }

    &--title {
      font-size: 3rem;
      letter-spacing: 1.28rem;

      &:before {
        display: none;
      }
    }
  }
}
